{% trans_default_domain "datasets" %}
{% verbatim %}
<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				{% endverbatim %}{{ 'datasets.dataset'|trans }}{% verbatim %}
			</span>
			<a ui-route data-ui-sref="wizardDS.step1" class="btn icn-only blue">{% endverbatim %}{{ 'datasets.createDataset'|trans }}{% verbatim %}<i class="m-icon-swapright m-icon-white"></i></a>
		</div>
	</div>
</div>
<!--end add-portfolio-->
<div data-infinite-scroll="addDatasets()"
	data-infinite-scroll-distance=0
	data-infinite-scroll-disabled='scrollDisabled'
	data-infinite-scroll-immediate-check='false'>
<div class="row portfolio-block" data-ng-repeat="dataset in datasets">
	<div class="col-md-4">
		<div class="portfolio-text">
			<img ng-src="{{dataset.picture || 'http://localhost/bundles/datacitypublic/img/logo2.png'}}" style="height: 80px; width: 80px;" alt=""/>
			<div class="portfolio-texnfo">
				<h4>{{dataset.title}}</h4>
				<p>
					{{dataset.description | limitTo:42}}...
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-stat">
		<div class="portfolio-info">
			{% endverbatim %}{{ 'datasets.visited'|trans }}{% verbatim %}
			<span>
				{{dataset.visited_nb}} {% endverbatim %}{{ 'datasets.times'|trans }}{% verbatim %}
			</span>
		</div>
		<div class="portfolio-info">
			{% endverbatim %}{{ 'datasets.useful'|trans }}{% verbatim %}
			<span>
				{{dataset.useful_nb}} {% endverbatim %}{{ 'datasets.times'|trans }}{% verbatim %}
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ui-sref="editDS({slug: dataset.slug})" class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'datasets.manage'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
</div>
</div>
<!--end row-->
{% endverbatim %}

