{% trans_default_domain "formAddTicket" %}
{% verbatim %}
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>{% endverbatim %}{{ 'formAddTicket.addTicket'|trans }}{% verbatim %}
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form ng-submit="submit()" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-2 control-label">{% endverbatim %}{{ 'formAddTicket.title'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
					<div class="col-md-8">
						<input data-ng-model="ticket.title" type="text" class="form-control" {% endverbatim %} placeholder="{{ 'formAddTicket.titlePlaceholder'|trans }}"{% verbatim %} value="">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">{% endverbatim %}{{ 'formAddTicket.message'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
					<div class="col-md-8">
						<input data-ng-model="ticket.message" type="text" class="form-control" {% endverbatim %} placeholder="{{ 'formAddTicket.messagePlaceholder'|trans }}"{% verbatim %} value="">
					</div>
				</div>
			<div class="form-actions fluid dataset-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn blue">{% endverbatim %}{{ 'formAddTicket.save'|trans }}{% verbatim %}</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endverbatim %}

