{% verbatim %}
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>Editer mon jeu de données
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form ng-submit="submit()" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-2 control-label">Titre</label>
					<div class="col-md-8">
						<input data-ng-model="dataset.title" type="text" class="form-control" placeholder="Indiquez un titre" value="{{dataset.title}}">
					</div>

				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Description</label>
					<div class="col-md-8">
						<textarea data-ng-model="dataset.description" class="form-control" placeholder="Entrez une description" rows="5">{{dataset.description}}</textarea>
					</div>
				</div>
			</div>
			<label class="col-md-2 control-label">Visibilité</label>
			<div class="clearfix col-md-9">
                <div class="form-group">
                    <select class="form-control">
                        <option>Autoriser tout le monde à voir mes publications</option>
                        <option>Autoriser mes abonnés/abonnements à voir mes publications</option>
                        <option>N'autoriser personne à voir mes publications</option>
                    </select>
                </div>
			</div>
			<div class="form-actions fluid dataset-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" class="btn blue">Enregister</button>
					<button data-ng-if="!noDelete" type="button" class="btn default" ng-click="showModal()">Supprimer</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!--end add-portfolio-->
<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				Sources associées
			</span>
		</div>
	</div>
</div>
<!-- BEGIN sources list attributed related to the dataset-->
<div class="row portfolio-block" data-ng-repeat="source in dataset.sources">
	<div class="col-md-4">
		<div class="portfolio-text">
			<!-- TODO: Remove le Css et la taille de l'image. Rajouter dans l'entite la fonction qui va piocher une image en fonction d'une catégorie du dataset -->
			<img ng-src="{{source.picture || 'http://www.keenthemes.com/preview/metronic/assets/admin/pages/media/profile/logo_azteca.jpg'}}" style="height: 80px; width: 80px" alt=""/>
			<div class="portfolio-texnfo">
				<h4>{{source.title || "Pas de nom"}}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-stat">
		<div class="portfolio-info">
			Téléchargée
			<span>
				{{source.download_nb}} fois
			</span>
		</div>
		<div class="portfolio-info">
			Noté comme utile
			<span>
				{{source.useful_nb}} fois
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ng-href="Routing.generate('')" class="btn bigicn-only">
				<span>
					Voir
				</span>
			</a>
		</div>
	</div>
</div>

<div class="row portfolio-block">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<div class="portfolio-btn">
			<a data-ui-sref="addSource({slugDataset: dataset.slug})" class="btn bigicn-only">
				<span>
					Ajouter une source
					{{dataset.id}}
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
{% endverbatim %}
