{% trans_default_domain "formDataSet" %}
{% verbatim %}
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>{% endverbatim %}{{ 'formDataSet.editdataset'|trans }}{% verbatim %}
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form ng-submit="submit()" class="form-horizontal">
			<div class="form-body">
				<div class="form-group">
					<label class="col-md-2 control-label">{% endverbatim %}{{ 'formDataSet.title'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
					<div class="col-md-8">
						<input data-ng-model="dataset.title" type="text" class="form-control" {% endverbatim %}placeholder="{{ 'formDataSet.titlePlaceholder'|trans }}"{% verbatim %} value="{{dataset.title}}">
					</div>

				</div>
				<div class="form-group">
					<label class="control-label col-md-2">{% endverbatim %}{{ 'formDataSet.licence'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
					<div class="col-md-8">
						<button type="button" class="btn btn-default form-control" ng-model="dataset.license.name" data-html="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formDataSet.choiceLicence'|trans }}"{% verbatim %} ng-options="license.name as license.name for license in dataset.licenses" bs-select>
						</button>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">Description</label>
					<div class="col-md-8">
						<textarea data-ng-model="dataset.description" class="form-control" {% endverbatim %}placeholder="{{ 'formDataSet.descPlaceholder'|trans }}"{% verbatim %} rows="5">{{dataset.description}}</textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label">{% endverbatim %}{{ 'formDataSet.visibility'|trans }}{% verbatim %}</label>
					<div class="col-md-8">
						<button type="button" class="btn btn-default form-control" ng-model="dataset.selectedVisibility" data-html="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formDataSet.choiceVisibility'|trans }}"{% verbatim %} ng-options="visibility.id as visibility.val for visibility in dataset.visibility" bs-select>
						</button>
					</div>
				</div>
			</div>
			<div class="form-actions fluid dataset-actions">
				<div class="col-md-offset-3 col-md-9">
					<button type="submit" ng-disabled="inProgress" class="btn blue">{% endverbatim %}{{ 'formDataSet.save'|trans }}{% verbatim %}</button>
					<button type="button" ng-disabled="inProgress" class="btn default" ng-click="showModal()">{% endverbatim %}{{ 'formDataSet.delete'|trans }}{% verbatim %}</button>
				</div>
			</div>
		</form>
	</div>
</div>

<!--end add-portfolio-->
<hr />
<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				{% endverbatim %}{{ 'formDataSet.relatedsources'|trans }}{% verbatim %}
			</span>
		</div>
	</div>
</div>
<!-- BEGIN sources list attributed related to the dataset-->
<div class="row portfolio-block" data-ng-repeat="source in dataset.sources">
	<div class="col-md-4">
		<div class="portfolio-text">
			<!-- TODO: Remove le Css et la taille de l'image. Rajouter dans l'entite la fonction qui va piocher une image en fonction d'une catégorie du dataset -->
			<img ng-src="{{source.picture || 'http://lorempixel.com/80/80/city/'}}" style="height: 80px; width: 80px" alt=""/>
			<div class="portfolio-texnfo">
				<h4>#{{ $index + 1 }} {{source.producer.name }}</h4>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-stat">
		<div class="portfolio-info">
			{% endverbatim %}{{ 'formDataSet.downloaded'|trans }}{% verbatim %}
			<span>
				{{source.download_nb}} {% endverbatim %}{{ 'formDataSet.times'|trans }}{% verbatim %}
			</span>
		</div>
		<div class="portfolio-info">
			{% endverbatim %}{{ 'formDataSet.useful'|trans }}{% verbatim %}
			<span>
				{{source.useful_nb}} {% endverbatim %}{{ 'formDataSet.times'|trans }}{% verbatim %}
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ng-href="{{ dataset.link }}" class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'formDataSet.see'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
</div>

<div class="row portfolio-block">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<div class="portfolio-btn">
			<a data-ui-sref="editDS.wizardS.step1" class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'formDataSet.addSource'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
<hr />
<div class="row booking-results">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				<i class="fa fa-mobile-phone mobile-icon"></i> {% endverbatim %}{{ 'formDataSet.relatedApplications'|trans }}{% verbatim %}
			</span>
		</div>
	</div>
</div>
<div class="row portfolio-block">
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<div class="portfolio-btn">
			<a class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'formDataSet.addApplication'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
	<div class="col-md-4">
	</div>
</div>
{% endverbatim %}

