{% trans_default_domain "tickets" %}
{% verbatim %}
<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>{{ ticket.title }}
				</div>
			</div>
			<div class="portlet-body">
				<div class="well">
					<div class="row-fluid " style="font-size: 17px;">
						<div class="span6">{% endverbatim %}{{ 'tickets.author'|trans }}{% verbatim %}</em> : {{ ticket.author.firstname }} {{ticket.author.lastname }}</div>
						<div class="span6">{% endverbatim %}{{ 'tickets.reply'|trans }}{% verbatim %}</em> : {{ ticket.message }}</div>
						<div class="span6">{% endverbatim %}{{ 'tickets.posted'|trans }}{% verbatim %}</em> : {{ ticket.date_time_update }}</div>
					</div>
				</div>
			</div>
			<div class="portlet-body" data-ng-repeat="reply in ticket.reponses">
				<div class="well">
					<div class="row-fluid">
						<div class="span6">{% endverbatim %}{{ 'tickets.author'|trans }}{% verbatim %}</em> : {{ reply.author.firstname }} {{reply.author.lastname }}</div>
						<div class="span6">{% endverbatim %}{{ 'tickets.reply'|trans }}{% verbatim %}</em> : {{ reply.message }}</div>
						<div class="span6"><em>{% endverbatim %}{{ 'tickets.posted'|trans }}{% verbatim %}</em> : {{ reply.date_time_reply }}</div>
					</div>
				</div>
			</div>
			<div class="portlet-body form" >
				<form data-ng-submit="submit()" method="post" >
					<div class="form-body">
						<div class="form-group">
							{% endverbatim %}
							<label>{{ 'tickets.reply'|trans }}</label>
							{% verbatim %}
							<textarea data-ng-model="replyticket.message" class="form-control" {% endverbatim %} placeholder=""{% verbatim %} rows="5"></textarea>
						</div>
					<div class="form-actions">
						{% endverbatim %}
						<input type="submit" class="btn green" value="{{ 'tickets.replyTicket'|trans }}">
						{% verbatim %}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}