{% verbatim %}
<div class="col-md-9">
	<div class="row">
		<div class="col-md-8 profile-info">
			<h1>{{user.firstname || "Prénom"}} {{user.lastname || "Nom"}}</h1>
			<p>
				{{user.about || "Aucune description"}}
			</p>
			<p>
				<a ng-href="{{user.website_url}}">{{user.website_url || "Aucun site web"}}</a>
			</p>
			<ul class="list-inline">
				<li>
					<i class="fa fa-map-marker"></i> {{user.city || "France" }}
				</li>
				<li>
					<i class="fa fa-calendar"></i> {{user.join_date || "01/09/2014" }}
				</li>
				<li>
					<i class="fa fa-briefcase"></i> {{user.occupation || "Aucune activité"}}
				</li>
			</ul>
		</div>
		<!--end col-md-8-->
		<div class="col-md-4">
			<div class="portlet sale-summary">
				<div class="portlet-title">
					<div class="caption">
						Bilan des activités
					</div>
					<div class="tools">
					</div>
				</div>
				<div class="portlet-body">
					<ul class="list-unstyled">
						<li>
							<span class="sale-info">
								Point(s)<i class="fa fa-img-up"></i>
							</span>
							<span class="sale-num">
								{{user.point || 0}}
							</span>
						</li>
						<li>
							<span class="sale-info">
								Moyenne des notations<i class="fa fa-img-down"></i>
							</span>
							<span class="sale-num">
								50%
							</span>
						</li>
						<li>
							<span class="sale-info">
								Total des sources créés
							</span>
							<span class="sale-num">
								20
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--end col-md-4-->
	</div>
	<!--end row-->
</div>
{% endverbatim %}