{% trans_default_domain "tickets" %}
{% verbatim %}
<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				{% endverbatim %}{{ 'tickets.userTicketTitle'|trans }}{% verbatim %}
			</span>
			<a ui-route data-ui-sref="addTickets" class="btn icn-only green">{% endverbatim %}{{ 'tickets.createTicket'|trans }}{% verbatim %}  <i class="m-icon-swapright m-icon-white"></i></a>

		</div>
	</div>
</div>
<!--end add-portfolio-->
<div class="row portfolio-block" data-ng-repeat="ticket in userTickets">
	<div class="col-md-4">
		<div class="portfolio-text">
			<div class="portfolio-texnfo">
				<h4>{{ticket.title}}</h4>
				<p>
					{{ticket.message | limitTo:42}}...
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-info">
		<div class="portfolio-info">
			{% endverbatim %}{{ 'tickets.statut'|trans }}{% verbatim %}
				<p data-ng-if="ticket.statut == 0">	
				{% endverbatim %}{{ 'tickets.new'|trans }}
				</p>
				<p data-ng-if="ticket.statut == 1">	
					{{ 'tickets.replied'|trans }}
				</p>
				<p data-ng-if="ticket.statut == 2">	
					{{ 'tickets.close'|trans }}
				</p>
				{% verbatim %}{% endverbatim %}{% verbatim %}
		</div>
		<div class="portfolio-info">
			{% endverbatim %}{{ 'tickets.assignedUser'|trans }}{% verbatim %}
			<p>
				{{ticket.assigned_user.firstname}} {{ticket.assigned_user.lastname}}{% endverbatim %}{% verbatim %}
			</p>
		</div>
		<div class="portfolio-info">
			{% endverbatim %}{{ 'tickets.lastUpdate'|trans }}{% verbatim %}
			<p>
				{{ticket.date_time_update}} {% endverbatim %}{% verbatim %}
			</p>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ui-sref="detailTickets({slug: ticket.slug})" class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'tickets.see'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
</div>
<!--end row-->
{% endverbatim %}

