{% trans_default_domain "ticket" %}
{% verbatim %}
<div class="row">
	<div class="col-md-12">
		<div class="add-portfolio">
			<span>
				{% endverbatim %}{{ 'ticket.dataset'|trans }}{% verbatim %}
			</span>
			<a ui-route data-ui-sref="addDS" class="btn icn-only green">{% endverbatim %}{{ 'ticket.createDataset'|trans }}{% verbatim %}  <i class="m-icon-swapright m-icon-white"></i></a>
			
		</div>
	</div>
</div>
<!--end add-portfolio-->
<div class="row portfolio-block" data-ng-repeat="ticket in userTickets">
	<div class="col-md-4">
		<div class="portfolio-text">
			<div class="portfolio-texnfo">
				<h4>{{ticket.title}}</h4>
				<p>
					{{ticket.message | limitTo:42}}...
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-6 portfolio-stat">
		<div class="portfolio-info">
			{% endverbatim %}{{ 'ticket.statut'|trans }}{% verbatim %}
			<span>
				{{ticket.statut}} {% endverbatim %}{% verbatim %}
			</span>
		</div>
		<div class="portfolio-info">
			{% endverbatim %}{{ 'ticket.author'|trans }}{% verbatim %}
			<span>
				{{ticket.author}} {% endverbatim %}{% verbatim %}
			</span>
		</div>
	</div>
	<div class="col-md-2">
		<div class="portfolio-btn">
			<!-- Route vers le Back pour l'édition on appelle le state du module ui.routeur dans app.js a partir de l'id du dataset récupéré précédemment -->
			<a data-ui-sref="" class="btn bigicn-only">
				<span>
					{% endverbatim %}{{ 'ticket.manage'|trans }}{% verbatim %}
				</span>
			</a>
		</div>
	</div>
</div>
<!--end row-->
{% endverbatim %}

