{% trans_default_domain "profileOverview" %}
{% verbatim %}
<div class="col-md-9">
	<div class="row">
		<div class="col-md-8 profile-info">
			<h1>{{user.firstname || "Prénom"}} {{user.lastname || "Nom"}}</h1>
			<p>
				{{user.about || "Aucune description"}}
			</p>
			<p data-ng-if="user.website_url">
				<a ng-href="{{user.website_url}}">{{ user.website_url }}</a>
			</p>
			<ul class="list-inline">
				<li data-ng-if="user.city.name">
					<i class="fa fa-map-marker"></i> {{user.city.name }}
				</li>
				<li data-ng-if="user.occupation">
					<i class="fa fa-briefcase"></i> {{user.occupation }}
				</li>
			</ul>
		</div>
		<!--end col-md-8-->
		<div class="col-md-4">
			<div class="portlet sale-summary">
				<div class="portlet-title">
					<div class="caption">
						{% endverbatim %}{{ 'profileOverview.review'|trans }}{% verbatim %}
					</div>
					<div class="tools">
					</div>
				</div>
				<div class="portlet-body">
					<ul class="list-unstyled">
						<li>
							<span class="sale-info">
								Point(s)<i class="fa fa-img-up"></i>
							</span>
							<span class="sale-num">
								{{user.point }}
							</span>
						</li>
						<li>
							<span class="sale-info">
								{% endverbatim %}{{ 'profileOverview.rating'|trans }}{% verbatim %}<i class="fa fa-img-down"></i>
							</span>
							<span class="sale-num">
								50%
							</span>
						</li>
						<li>
							<span class="sale-info">
								{% endverbatim %}{{ 'profileOverview.datasettotal'|trans }}{% verbatim %}
							</span>
							<span class="sale-num">
								{{ user.datasetNumber }}
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--end col-md-4-->
	</div>
	<!--end row-->
</div>
{% endverbatim %}