{# Called by DatacityPublicBundle:Template:body.html.twig:93 #}
{% trans_default_domain "accountLink" %}
<div class="headnav">
	<ul>
		<li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
		<li><a target="_self" href="{{ path('datacity_private_homepage') }}">{{ 'account'|trans }}</a></li>
		<li><a target="_self" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
	</ul>
</div>
