{% trans_default_domain 'FOSUserBundle' %}
{% trans_default_domain "registerContent" %}

<div class="row margintop10">
	<div class="span5">
		<aside class="left-sidebar"> 
			<h4>{{ 'register.intro'|trans|raw }}</h4>
			<img src="{{ asset('bundles/datacitypublic/img/dummies/dummy-1.jpg') }}" alt="" class="align-left">
			<p>{{ 'register.description'|trans }}</p>
		</aside>
	</div>
	<div class="span7 margintop20">
		<form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		    {{ form_widget(form, {'form_type': 'horizontal'}) }}
		    <div class="control-group">
		    	<div class="controls">
                    <button type="submit" class="btn btn-theme"><i class="icon-globe"></i>{{ 'register.submit'|trans }}</button>
                </div>
            </div>
		</form>
	</div>
</div>
