{% trans_default_domain 'FOSUserBundle' %}

<div class="row margintop10">
	<div class="span5">
		<aside class="left-sidebar"> 
			<h4>Créez un compte, <strong>c'est gratuit !</strong></h4>
			<img src="{{ asset('bundles/datacitypublic/img/dummies/dummy-1.jpg') }}" alt="" class="align-left">
			<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non mod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et eabum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet</p>
		</aside>
	</div>
	<div class="span7 margintop20">
		<form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
		    {{ form_widget(form, {'form_type': 'horizontal'}) }}
		    <div class="control-group">
		    	<div class="controls">
                    <button type="submit" class="btn btn-theme"><i class="icon-globe"></i>{{ 'registration.submit'|trans }}</button>
                </div>
            </div>
		</form>
	</div>
</div>
