<a href="#" class="pull-right"><i class="icon-angle-left"></i> Retour</a>
<div class="span8">
	<article>
	{% verbatim %}
	<div class="top-wrapper">
		<div class="post-heading">
			<h3>{{ dataset.name }}</h3>
		</div>
	</div>
	<p>
		 {{ dataset.desc }}
	</p>
	</article>
	<div class="visualizator">
		<div data-tabset>
		    <div data-tab data-heading="Tableau">
				<div class="gridStyle" ng-grid="gridOptions">
		        </div>
		    	TODO Should load [{{dataset.slug}}]
		    </div>
		    <div data-tab data-heading="Graphique">
		      TODO
		    </div>
		</div>
	</div>
	{% endverbatim %}
	<section data-ng-if="dataset.sources" class="data-links">
		<div class="row">
			<div class="span8">
				<h4>Sources du jeux de données :</h5>
				{% verbatim %}
				<div class="row">
					<div class="span8" data-ng-repeat="source in dataset.sources">
						<h5 class="horizontal-data-bloc-title">{{ source.title }}</h5>
						<p>
							Producteur : {{ source.producer.name }}</br>
							<span data-ng-if="source.link">Lien de la source : <a href="{{ source.link }}">{{ source.link }}</a></span>
						</p>
						<div class="horizontal-data-bloc-bottom">
							<ul class="meta-post">
								<li><i class="icon-file-alt"></i> Source</li>
								<li><a tooltip='Date de publication'><i class="icon-calendar"></i> {{ source.published_date }}</a></li>
								<li><a tooltip='Auteur'><i class="icon-user"></i> {{ source.creator.username }}</a></li>
								<li><a tooltip='Localisation'><i class="icon-pushpin"></i> {{ source.place.name }}</a></li>
								<li><a tooltip='Couverture'><i class="icon-globe"></i> {{ source.coverage_territory.name }}</a></li>
							</ul>
							<a href="" class="pull-right">Télécharger <i class="icon-download-alt"></i></a>
						</div>
					</div>
				</div>
				{% endverbatim %}
				</div>
			</div>
		</div>
	</section>
</div>
<div class="span4">
	<aside class="right-sidebar">
	<div class="widget">
		<h5 class="widgetheading">Informations :</h5>
		{% verbatim %}
		<ul class="folio-detail">
			<li><label>Categorie(s) :</label> <span data-ng-repeat="cat in dataset.categories">{{ cat.name }}<span data-ng-if="!$last">, </span></span></li>
			<li><label>Auteur :</label> {{ dataset.user.username }} </li>
			<li><label>Date de publication :</label> {{ dataset.date }}</li>
			<li><label>Derniere mise à jour :</label> {{ dataset.lastUpdate }}</li>
			<li><label>Localisation :</label> <span data-ng-repeat="loc in dataset.locations">{{ loc.name }}<span data-ng-if="!$last">, </span></span></li>
			<li><label>Couverture :</label> {{ dataset.couverture }}</li>
			<li><label>License :</label> {{ dataset.license }}</li>
		</ul>
		{% endverbatim %}
	</div>
	<div class="widget">
		<h5 class="widgetheading">Statistiques</h5>
		<p>
			 TODO
		</p>
	</div>
	</aside>
</div>