{% trans_default_domain "datasetList" %}
<div class="span12">
	<form class="form-search" >
		<input data-ng-model="text" placeholder="{{ 'search'|trans }}" type="text" class="input-medium search-query">
		<input data-typeahead="address for address in getLocation($viewValue)" data-typeahead-loading="loadingLocations"
			data-ng-model="place" placeholder="{{ 'where'|trans }}" type="text" class="input-medium search-query"
			data-typeahead-editable='false'>
		<i ng-show="loadingLocations" class="icon-refresh"></i>
		<input
		    type="hidden"
		    data-ui-select2="selectCategories"
		    data-ng-model="categories"
		    class="input-large search-query"
	    >
		<input
		    type="hidden"
		    data-ui-select2="selectLicences"
		    data-ng-model="licenses"
			class="input-large search-query"
	    >
		<input
		    type="hidden"
		    data-ui-select2="selectFrequencies"
		    data-ng-model="frequencies"
		    class="input-large search-query"
	    >
	</form>
</div>
{# Affichage des données avec leur titre un apercu de leur descriptif et leur image si il y en a une #}
<div class="span12">
	<div class="row"><ul>
		<div class="span12 horizontal-data-bloc" data-total-items="datasets.totalCount" data-dir-paginate="dataset in datasets.list | itemsPerPage: 8" data-ng-click="goto(dataset)">
			{% verbatim %}
				<h5 class="horizontal-data-bloc-title">{{ dataset.name }}</h5>
				<p>
					 {{ dataset.desc | limitTo:300 }}...
				</p>
				<div class="horizontal-data-bloc-bottom">
					<ul class="meta-post">
						<li><i class="icon-copy"></i> {% endverbatim %}{{ 'dataset'|trans }}</li>
						<li><a data-tooltip='{{ 'update'|trans }}'>{% verbatim %}<i class="icon-calendar"></i> {{ dataset.lastUpdate }}</a></li>
						<li>{% endverbatim %}<a data-tooltip='{{ 'author'|trans }}'>{% verbatim %}<i class="icon-user"></i> {{ dataset.user }}</a></li>
						<li data-ng-if="dataset.locations.length == 1">
							{% endverbatim %}<a data-tooltip='{{ 'location'|trans }}'>{% verbatim %}<i class="icon-map-marker"></i> {{ dataset.locations[0] }}
							</a>
						</li>
						<li data-ng-if="dataset.locations.length > 1">
							{% endverbatim %}<a data-tooltip='{{ 'location'|trans }}'>{% verbatim %}<i class="icon-map-marker"></i> {{ dataset.locations[0] }} (+ {{ dataset.locations.length }})
							</a>
						</li>
						<li>{% endverbatim %}<a data-tooltip='{{ 'cover'|trans }}'>{% verbatim %}<i class="icon-globe"></i> {{ dataset.couverture }}</a></li>
						<li>{% endverbatim %}<a data-tooltip='{{ 'freq'|trans }}'>{% verbatim %}<i class="icon-refresh"></i> {{ dataset.frequency.name }}</a></li>
						<li>{% endverbatim %}<a data-tooltip='{{ 'cat'|trans }}'>{% verbatim %}<i class="icon-info-sign"></i> {{ dataset.categories[0].name }}</a></li>
						<li>{% endverbatim %}<a data-tooltip='{{ 'license'|trans }}'>{% verbatim %}<i class="icon-legal"></i> {{ dataset.license }}</a></li>
					</ul>
				</div>
			{% endverbatim %}
		</div>
	</div>
</div>
{# Affichage pagination #}
<div data-dir-pagination-controls data-on-page-change="search(newPageNumber)" data-template-url="/partials/pagination"></div>