{% trans_default_domain "datasetWizard" %}
{% verbatim %}
<div class="row">
	<div class="col-md-12">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-fa-file-text-o"></i>{% endverbatim %}{{ 'datasetWizard.fieldOfSource'|trans }}{% verbatim %}
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-3 draggable" data-ng-repeat="col in $parent.sourceData.columns"
						data-ui-draggable="true"
						data-drag="col">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">{{ col }}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<button data-ng-if="$parent.wizardMode === 'dataset'" data-ng-click="tryCopyCol()" type="button" class="btn blue"><i class="fa fa-plus-square-o"></i> {% endverbatim %}{{ 'datasetWizard.copyFields'|trans }}{% verbatim %}</button>
		<button data-ng-if="$parent.wizardMode === 'dataset'" data-ng-click="removeAllCol()" type="button" class="btn red"><i class="fa fa-times"></i> {% endverbatim %}{{ 'datasetWizard.deleteFields'|trans }}{% verbatim %}</button>
		<button data-ng-if="$parent.wizardMode === 'source'" data-ng-click="removeAllCol()" type="button" class="btn red"><i class="fa fa-times"></i> {% endverbatim %}{{ 'datasetWizard.clearFields'|trans }}{% verbatim %}</button>
	</div>
	<div class="col-md-12 wizard-columns-list">
		<div class="wizard-add-combi portlet box blue" data-ui-on-Drop="tryAddColumn($event, $data)">
			<div class="wizard-add-combi portlet-title">
				<div class="wizard-add-combi caption">
					<i class="fa fa-fa-file-text-o"></i>{% endverbatim %}{{ 'datasetWizard.fieldOfDataset'|trans }}{% verbatim %}
				</div>
			</div>
			<div class="wizard-add-combi portlet-body actual-drag-hover">
				<div class="wizard-add-combi row">
					<div data-ng-if="finalColumns.length === 0" class="col-md-12 text-center wizard-add-combi">
						<p class="wizard-add-combi">{% endverbatim %}{{ 'datasetWizard.addFields'|trans }}{% verbatim %}</p>
					</div>
					<div class="col-md-3" data-ng-repeat="columns in finalColumns"
						data-ui-on-Drop="combineColumn($event, $data, $index)">
						<div class="panel panel-default actual-drag-hover">
							<div class="panel-heading panel-special">
								<div class="panel-title panel-caption">{{ columns.title }}</div>
								<div class="panel-tools">
									<a data-ng-if="!columns.inDataset" data-ng-click="editColTitle($index)" class="editIcon"><i class="fa fa-pencil-square-o"></i></a>
									<a data-ng-if="!columns.inDataset" data-ng-click="removeCol($index)"><i class="fa fa-times"></i></a>
									<i data-bs-tooltip data-title="Présent dans le jeu de donnée"
										data-ng-if="columns.inDataset"
										data-placement="right"
										class="fa fa-hdd-o">
									</i>
								</div>
							</div>
							<ul class="list-group">
								<li data-ng-repeat="col in columns.oldColumns"
									class="list-group-item">
									 {{ col }}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endverbatim %}