<!DOCTYPE html>
<!--
DataCity - Responsive Admin Dashboard build with Twitter Bootstrap 3.0.3
Version: 1.5.5
Author: DataCity Web Dev team
Website: http://datacity.fr
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale }}" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8"/>
	<title>DataCity | Developer Portal</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<meta content="" name="description"/>
	<meta content="" name="author"/>
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	{% block stylesheets %}
	{% stylesheets
	'css/bootstrap3stuff.css'
	'css/angularuserapp.css'
	'css/angular-mods.css'
	'bundles/datacityprivate/third-party/plugins/uniform/css/uniform.default.css'

	'bundles/datacityprivate/third-party/plugins/dropzone/css/dropzone.css'
	'bundles/datacityprivate/third-party/plugins/dropzone/css/basic.css'
	'bundles/datacityprivate/third-party/plugins/bootstrap-datepicker/css/datepicker.css'

	'bundles/datacityprivate/third-party/css/style-metronic.css'
	'bundles/datacityprivate/third-party/css/style.css'
	'bundles/datacityprivate/third-party/css/style-responsive.css'
	'bundles/datacityprivate/third-party/css/plugins.css'
	'bundles/datacityprivate/third-party/css/pages/tasks.css'
	'bundles/datacityprivate/third-party/css/pages/search.css'
	'bundles/datacityprivate/third-party/css/themes/default.css'
	'bundles/datacityprivate/third-party/css/custom.css'
	'bundles/datacityprivate/third-party/css/autocomplete-jquery-ui.css'
	'bundles/datacityprivate/third-party/css/dashboard.css'
	'bundles/datacityprivate/third-party/css/pages/profile.css'

	'bundles/datacityprivate/third-party/plugins/select2/select2_metro.css'
	'bundles/datacityprivate/third-party/plugins/bootstrap-toastr/toastr.min.css'
	'bundles/datacityprivate/third-party/plugins/data-tables/DT_bootstrap.css'

	'bundles/datacityprivate/css/datacity.css'
	'bundles/datacityprivate/css/dataset-wizard.css'

	filter='cssrewrite'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
	{% endblock %}
	{#

	'bundles/datacityprivate/third-party/plugins/gritter/css/jquery.gritter.css'
	'bundles/datacityprivate/third-party/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css'
	'bundles/datacityprivate/third-party/plugins/fullcalendar/fullcalendar/fullcalendar.css'
	'bundles/datacityprivate/third-party/plugins/jqvmap/jqvmap/jqvmap.css'
	'bundles/datacityprivate/third-party/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css'
	#}

	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/overcast/jquery-ui.css" />

	<link rel="shortcut icon" href="{{ asset('bundles/datacitypublic/ico/favicon.png') }}" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed" {% block bodyattr %}{% endblock %}>
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			<!-- BEGIN LOGO -->
			<a class="navbar-brand" href="{{ path('datacity_public_homepage') }}">
			</a>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

			</a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<li class="dropdown user">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						<!-- <img alt="" src="third-party/img/avatar1_small.jpg"/> -->
						<span class="username">
							{{ app.user.username }}
						</span>
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
						</li>
					</ul>
				</li>
				<!-- END USER LOGIN DROPDOWN -->
			</ul>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix">
	</div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar-wrapper">
			<div class="page-sidebar navbar-collapse collapse">
				<!-- BEGIN SIDEBAR MENU -->
				<ul class="page-sidebar-menu">
					<li class="sidebar-toggler-wrapper">
						<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
						<div class="sidebar-toggler hidden-phone">
						</div>
						<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					</li>
					{#  <li class="start" data-ng-repeat="nav in navCtrl.elements">
						<a href="{[{nav.link}]}">
							<i class="fa {[{nav.icon}]}"></i>
							<span class="title">
								{[{nav.title}]}
							</span>
							<span class="selected">
							</span>
						</a>
					</li>  #}
					<li id="nav-dashboard" class="start {% if app.request.attributes.get('_route') == 'datacity_private_homepage' %}active{% endif %}">
						<a href="{{ path('datacity_private_homepage') }}">
							<i class="fa fa-home"></i>
							<span class="title">
								Home
							</span>
							<span class="selected">
							</span>
						</a>
					</li>
					<li id="nav-adminusers" class="start {% if app.request.attributes.get('_route') == 'datacity_private_adminusers' %}active{% endif %}">
						<a href="{{ path('datacity_private_adminusers') }}">
							<i class="fa fa-user"></i>
							<span class="title">
								Gestion d'utilisateurs
							</span>
							<span class="selected">
							</span>
						</a>
					</li>
					<li id="nav-news" class="start {% if app.request.attributes.get('_route') starts with 'datacity_private_news' %}active{% endif %}">
						<a href="{{ path('datacity_private_news') }}">
							<i class="fa fa-file-text"></i>
							<span class="title">
								Gestion des actualités
							</span>
							<span class="selected">
							</span>
						</a>
					</li>
					<li id="nav-news" class="start {% if app.request.attributes.get('_route') starts with 'datacity_private_producers_list' %}active{% endif %}">
						<a href="{{ path('datacity_private_producers_list') }}">
							<i class="fa fa-file-text"></i>
							<span class="title">
								Gestion des producteurs
							</span>
							<span class="selected">
							</span>
						</a>
					</li>
				</ul>
				<!-- END SIDEBAR MENU -->
			</div>
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<div class="page-content-wrapper">
			<div class="page-content">
				<!-- BEGIN PAGE HEADER-->
				<div class="row">
					<div class="col-lg-11">
						<h3 class="page-title" >
							{% block pageTitle %}{% endblock %}
						</h3>
					</div>
					<div class="col-md-12">
						<div data-ncy-breadcrumb></div>
					</div>
				</div>
				<!-- END PAGE HEADER-->

				{% block pagecontent %}{% endblock %}

				<!-- End Window of Uploaded Files-->

				<!-- DATA TABLE -->
			</div>
			<!-- END CONTENT -->
		</div>
		<!-- END CONTAINER -->
		<!-- BEGIN FOOTER -->
		<footer class="footer">
			<div class="footer-inner">
				2014 &copy; by Datacity.
			</div>
			<div class="footer-tools">
				<span class="go-top">
					<i class="fa fa-angle-up"></i>
				</span>
			</div>
		</footer>
		<!-- END FOOTER -->
		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="third-party/plugins/respond.min.js"></script>
<script src="third-party/plugins/excanvas.min.js"></script>
<![endif]-->

{% block javascripts %}
<script src="{{ asset('js/angular-file-upload-shim.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script>typeof angular == "undefined" && document.write('<script src="{{ asset('js/angular.js') }}"><\/script>')</script>
{# TEMP #}

<script src="https://code.angularjs.org/1.2.26/angular-mocks.js"></script>

	{# '@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery-slimscroll/jquery.slimscroll.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/uniform/jquery.uniform.min.js'

	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/jquery.vmap.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/flot/jquery.flot.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/flot/jquery.flot.resize.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery.pulsate.min.js'

	'@DatacityPrivateBundle/Resources/public/third-party/plugins/bootstrap-daterangepicker/moment.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/bootstrap-daterangepicker/daterangepicker.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/gritter/js/jquery.gritter.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/fullcalendar/fullcalendar/fullcalendar.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery.sparkline.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/select2/select2.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/data-tables/jquery.dataTables.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/data-tables/DT_bootstrap.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/dropzone/dropzone.js'
	'@DatacityPrivateBundle/Resources/public/third-party/scripts/form-dropzone.js'
	'@DatacityPrivateBundle/Resources/public/third-party/js/databinding.js'
	'@DatacityPrivateBundle/Resources/public/third-party/js/upload.js'
	'@DatacityPrivateBundle/Resources/public/third-party/js/datatable.js'#}

	{# ENDTEMP #}

	{% javascripts
	'../jsvendor/bootstrap/dist/js/bootstrap.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery-migrate-1.2.1.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'

	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery.blockui.min.js'
	'@DatacityPrivateBundle/Resources/public/third-party/plugins/jquery.cokie.min.js'
	'@DatacityPrivateBundle/Resources/public/js/utils.js'

	'js/angular-mods.js'
	'js/angularuserapp.js'
	'@DatacityPrivateBundle/Resources/public/js/app/mock/e2e-mock-dataset.js'
	'@DatacityPrivateBundle/Resources/public/js/app/app.js'

	'@DatacityPrivateBundle/Resources/public/js/app/services/dataset.js'
	'@DatacityPrivateBundle/Resources/public/js/app/services/user.js'
	'@DatacityPrivateBundle/Resources/public/js/app/services/source.js'

	'@DatacityPrivateBundle/Resources/public/js/app/controllers/datasetCtrl.js'
	'@DatacityPrivateBundle/Resources/public/js/app/controllers/userCtrl.js'
	'@DatacityPrivateBundle/Resources/public/js/app/controllers/navCtrl.js'
	'@DatacityPrivateBundle/Resources/public/js/app/controllers/panelCtrl.js'
	'@DatacityPrivateBundle/Resources/public/js/app/controllers/sourceCtrl.js'
	'@DatacityPrivateBundle/Resources/public/js/app/controllers/datasetWizardCtrl.js'

	'@DatacityPrivateBundle/Resources/public/js/app/directives/datepicker.js'
	'@DatacityPrivateBundle/Resources/public/js/app/directives/events.js'


	'@DatacityPrivateBundle/Resources/public/third-party/plugins/bootstrap-toastr/toastr.min.js'

	'@DatacityPrivateBundle/Resources/public/third-party/scripts/app.js'
	'@DatacityPrivateBundle/Resources/public/third-party/scripts/index.js'
	'@DatacityPrivateBundle/Resources/public/third-party/scripts/tasks.js'

	'@DatacityPrivateBundle/Resources/public/third-party/scripts/ui-toastr.js'

	%}
	{# '@DatacityPrivateBundle/Resources/public/js/app/router.js' #}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
	{% endblock %}

	<script>
	jQuery(document).ready(function() {
		App.init();
   		/*App.init(); // initlayout and core plugins
   		Index.init();*/

   		//var router = new Router("{{ datacity_api_url }}");
   		//FormDropzone.init(router);
   		//new UploadDataBox("files", $('.uploadedFiles'), router);
   		//var databiding = new DataBinding(router);
   	});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
