{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% trans_default_domain "tickets" %}
{% block pageTitle %}{{ 'tickets.title'|trans }}{% endblock %}
{% block lineTitleLink %}{{ 'tickets.titleLink'|trans }}{% endblock %}

{% block pagecontent %}
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>{{ 'tickets.table'|trans }} ({{tickets|length}} {{ 'tickets.added'|trans }})
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-user"></i> {{ 'tickets.title'|trans }}
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> {{ 'tickets.lastUpdate'|trans }}
									</th>
									<th>
										<i class="fa fa-briefcase"></i> {{ 'tickets.statut'|trans }}
									</th>
									<th>
										<i class="fa fa-briefcase"></i> {{ 'tickets.author'|trans }}
									</th>
									<th>
										<i class="fa fa-briefcase"></i> {{ 'tickets.assignedUser'|trans }}
									</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>
								{% for ticket in tickets %}
									<tr id="row-ticket-{{ ticket.id }}">
									<td class="highlight">
										<div class="success">
										</div>
										<a href="{{ path('datacity_private_tickets_detail_admin', {'slug' : ticket.slug }) }}">{{ ticket.title }} </a>
									</td>
									<td>
										{{ ticket.dateTimeUpdate | date('d-m-Y H:i') }}
									</td>
									<td>
										{% if ticket.statut == 0 %}
											{{ 'tickets.new'|trans }}
										{% elseif ticket.statut == 1 %}
											{{ 'tickets.replied'|trans }}
										{% elseif ticket.statut == 2 %}
											{{ 'tickets.close'|trans }}
										{% endif %}
									</td>
									<td>
										{{ ticket.author.firstname}}
										{{ticket.author.lastname}}
									</td>
									<td>
										{% if ticket.assignedUser != null %}
										{{ticket.assignedUser.firstname }}
										{{ticket.assignedUser.lastname}}
										{% endif %}

									</td>
									<td>
										<a data-toggle="modal" href="#basic" onClick="setDeleteTicket('{{ ticket.title }}');" class="btn default btn-xs black"><i class="fa fa-trash-o"></i> {{ 'tickets.delete'|trans }}</a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">{{ 'tickets.deleteTicket'|trans }}</h4>
								</div>
								<div class="modal-body">
									 {{ 'tickets.warn'|trans }} <span id='TicketToDeleteTitle'></span>.<br/>{{ 'tickets.confirm'|trans }}.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">{{ 'tickets.close'|trans }}</button>
									<button id="buttonDeleteTicket" type="button" class="btn blue" onClick="" data-dismiss="modal">{{ 'tickets.confirmDel'|trans }}</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	function deleteTicket(title) {
		$.ajax({
		    type: 'DELETE',
		    dataType: 'json',
		    url: Routing.generate('datacity_private_ticket_remove', { title: title }),
		    success: function(response) {
		        $("#row-ticket-" + response['id']).fadeOut(300, function() { $(this).remove(); });
		      }
		  });
		}
	function setDeleteTicket(title) {
		$("#buttonDeleteTicket").attr("onClick", "deleteTicket('" + title + "');")
		$("#TicketToDeleteTitle").html(title);
	}
</script>
{% endblock %}
