{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% trans_default_domain "users" %}
{% block pageTitle %}{{ 'users.title'|trans }}{% endblock %}
{% block lineTitleLink %}{{ 'users.titleLink'|trans }}{% endblock %}

{% block pagecontent %}
					<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>{{ 'users.table'|trans }} ({{users|length}} {{ 'users.added'|trans }})
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-user"></i> {{ 'users.contact'|trans }}
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> {{ 'users.city'|trans }}
									</th>
									<th>
										<i class="fa fa-briefcase"></i> {{ 'users.apps'|trans }}
									</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>
								{% for user in users %}
									<tr id="row-user-{{user.getId()}}">
									<td class="highlight">
										<div class="success">
										</div>
										<a href="#">{{ user.firstname }} {{ user.lastname }}</a>
									</td>
									<td class="hidden-xs">
										<!-- user.city.name -->
									</td>
									<td>
										{{ user.getApplications().count() }}
									</td>
									<td>
										<a  href="{{ path('datacity_private_adminusers_edit', { firstname: user.firstname }) }}" class="btn default btn-xs black"><i class="fa fa-trash-o"></i> Edit</a>

										<a data-toggle="modal" href="#basic" onClick="setDeleteUser('{{ user.usernameCanonical }}', '{{ user.getFirstname()|e('js') }} {{ user.getLastname()|e('js') }}');" class="btn default btn-xs black"><i class="fa fa-trash-o"></i> {{ 'users.delete'|trans }}</a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">{{ 'users.deleteUser'|trans }}</h4>
								</div>
								<div class="modal-body">
									 {{ 'users.warn'|trans }} <span id='userToDeleteName'></span>.<br/>{{ 'users.confirm'|trans }}.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">{{ 'users.close'|trans }}</button>
									<button id="buttonDeleteUser" type="button" class="btn blue" onClick="" data-dismiss="modal">{{ 'users.confirmDel'|trans }}</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- END SAMPLE TABLE PORTLET-->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	function deleteUser(usernameCanonical) {
		$.ajax({
		    type: 'DELETE',
		    dataType: 'json',
		    url: Routing.generate('datacity_private_adminusers_remove', { usernameCanonical: usernameCanonical }),
		    success: function(response) {
		        $("#row-user-" + response['id']).fadeOut(300, function() { $(this).remove(); });
		      }
		  });
		}
	function setDeleteUser(usernameCanonical, name) {
		$("#buttonDeleteUser").attr("onClick", "deleteUser('" + usernameCanonical + "');")
		$("#userToDeleteName").html(name);
	}
</script>
{% endblock %}
