{% trans_default_domain "application" %}
{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% block pageTitle %}{{ 'application.title'|trans }}{% endblock %}
{% block lineTitleLink %}{{ 'application.titleLink'|trans }}{% endblock %}
{% block pagecontent %}


<a href="{{ path('datacity_private_applications_post') }}" class="btn btn-lg green">{{ 'application.addApp'|trans }} <i class="fa fa-plus"></i></a><br><br>
<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>{{ 'application.table'|trans }} ({{applications|length}} {{ 'application.added'|trans }})
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-user"></i> {{ 'application.name'|trans }}
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> Description
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> {{ 'application.city'|trans }}
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> {{ 'application.link'|trans }}
									</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>
								{% for application in applications %}
									<tr id="row-application-{{application.getId()}}">
									<td class="highlight">
										<div class="success">
										</div>
										<a href="../../app/{{application.slug}}">{{ application.name }}</a>
									</td>
									<td class="hidden-xs">
										{% if application.description |length > 100 %}
										{{ application.description |slice(0, 100)}}...
										{% else %}
										{{ application.description}}
										{% endif %}
									</td>
									<td>
										{% if application.city.name |length > 100 %}
										{{ application.city.name |slice(0, 100)}}...
										{% else %}
										{{application.city.name}}
										{% endif %}
									</td>
									<td>
										{% if application.url |length > 100 %}
										{{ application.url |slice(0, 100)}}...
										{% else %}
										<a href="{{application.url}}">{{application.url}}</a>
										{% endif %}
									</td>
									<td>
										<a  href="{{ path('datacity_private_applications_edit', { name: application.name }) }}" class="btn default btn-xs black"><i class="fa fa-trash-o"></i>  {{ 'application.edit'|trans }}</a>
										<a data-toggle="modal" href="#basic" onClick="setDeleteApplication('{{ application.slug }}', '{{ application.name|e('js') }} ');" class="btn default btn-xs black"><i class="fa fa-trash-o"></i> {{ 'application.delete'|trans }}</a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">{{ 'application.deleteApp'|trans }}</h4>
								</div>
								<div class="modal-body">
									 {{ 'application.warn'|trans }} <span id='applicationToDeleteName'></span>.<br/>{{ 'application.confirm'|trans }}.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">{{ 'application.close'|trans }}</button>
									<button id="buttonDeleteApplication" type="button" class="btn blue" onClick="" data-dismiss="modal">{{ 'application.confirmDel'|trans }}</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- END SAMPLE TABLE PORTLET-->



{% endblock %}
{% block javascripts %}
{{ parent() }}
	<script type="text/javascript">
		function deleteApplication(slug) {
		$.ajax({
		    type: 'DELETE',
		    dataType: 'json',
		    url: Routing.generate('datacity_private_applications_remove', { slug: slug }),
		    success: function(response) {
		        $("#row-application-" + response['id']).fadeOut(300, function() { $(this).remove(); });
		      }
		  });
		}
	function setDeleteApplication(slug, name) {
		$("#buttonDeleteApplication").attr("onClick", "deleteApplication('" + slug + "');")
		$("#applicationToDeleteName").html(name);

	}
	</script>
{% endblock %}
