{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% block pageTitle %}Gestion des Utilisateurs{% endblock %}
{% block lineTitleLink %}Gestion des Utilisateurs{% endblock %}

{% block pagecontent %}

<h3></h3>

<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>Formulaire d'édition d'utilisateur
				</div>
			</div>
			<div class="portlet-body form">
				<form action="{{path('datacity_private_adminusers_edit', {firstname: form.vars.value.firstname})}}" method="post" {{ form_enctype(form) }}>
					<div class="form-body">
						<div class="form-group">
							<label>{{ form_label(form.firstname, "Prénom") }}</label>
							 {{ form_errors(form.firstname) }}
							{{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
						</div>
						<div class="form-group">
							<label>{{ form_label(form.lastname, "Nom") }}</label>
							 {{ form_errors(form.lastname) }}
							{{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'style': 'resize: none'}}) }}

						</div>
						<div class="form-group">
							<label>{{ form_label(form.email, "Email") }}</label>
							 {{ form_errors(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control', 'style': 'resize: none'}}) }}

						</div>
						<div class="form-group">
							<label>{{ form_label(form.city, "Ville") }}</label>
							 {{ form_errors(form.city) }}
							{{ form_widget(form.city) }}
						</div>
						{{ form_rest(form) }}
					</div>
					<div class="form-actions">
						<center><input type="submit" class="btn green" value = "Editer l'utilisateur"></center>
					</div>

					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}