{% extends 'DatacityPrivateBundle:Template:privatepagebody.html.twig' %}

{% block title %}Datacity -- Espace utilisateur{% endblock %}
{% block pagetitle %}Espace utilisateur{% endblock %}

{% block pagecontent %}
	<section id="content">
	<div class="container">
		<div class="row marginbot30">
			<div class="span12">
				<h4 class="heading"><strong>Client</strong> testimonials<span></span></h4>
				<span class="info"><a href="{{ path('datacity_private_dashboard') }}">Tableau de bord</a></span>
				<div class="row">
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="span6">
						<div class="wrapper">
							<div class="testimonial">
								<p class="text">
									<i class="icon-quote-left icon-48"></i> There are many variations of passages of randomised words which don't look even slightly believable. You need to be sure there isn't anything embarrassing of text.
								</p>
								<div class="author">
									<img src="{{ asset('bundles/datacitypublic/img/dummies/testimonial-author1.png') }}" class="img-circle bordered" alt="" />
									<p class="name">
										Tom Shaun Dealova
									</p>
									<span class="info">MBC Entertainment, <a href="#">www.sitename.com</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>   
{% endblock %}
