{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% trans_default_domain "news" %}
{% block pageTitle %}{{ 'news.title'|trans }}{% endblock %}
{% block lineTitleLink %}{{ 'news.titleLink'|trans }}{% endblock %}
{% block pagecontent %}


<a href="{{ path('datacity_private_news_add') }}" class="btn btn-lg green">{{ 'news.add'|trans }} <i class="fa fa-plus"></i></a><br><br>
<!-- BEGIN SAMPLE TABLE PORTLET-->
					<div class="portlet">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>{{ 'news.table'|trans }} ({{news|length}} {{ 'news.added'|trans }})
							</div>
						</div>
						<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-advance table-hover">
								<thead>
								<tr>
									<th>
										<i class="fa fa-user"></i> {{ 'news.author'|trans }}
									</th>
									<th class="hidden-xs">
										<i class="fa fa-bookmark"></i> {{ 'news.titleNews'|trans }}
									</th>
									<th>
										<i class="fa fa-briefcase"></i> {{ 'news.message'|trans }}
									</th>
									<th>
									</th>
								</tr>
								</thead>
								<tbody>
								{% for new in news %}
									<tr id="row-news-{{new.getId()}}">
									<td class="highlight">
										<div class="success">
										</div>
										<a href="#">{{ new.getUser().firstname }} {{ new.getUser().lastname }}</a>
									</td>
									<td class="hidden-xs">
										{% if new.title |length > 50 %}
										{{ new.title |slice(0, 50)}}...
										{% else %}
										{{ new.title}}
										{% endif %}
									</td>
									<td>
										{% if new.message |length > 100 %}
										{{ new.message |slice(0, 100)}}...
										{% else %}
										{{new.message}}
										{% endif %}
									</td>
									<td>
										<a data-toggle="modal" href="#basic" onClick="setDeleteNews('{{ new.slug }}', '{{ new.getTitle()|e('js') }} ');" class="btn default btn-xs black"><i class="fa fa-trash-o"></i> {{ 'news.delete'|trans }}</a>
									</td>
								</tr>
								{% endfor %}
								</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">{{ 'news.deleteNews'|trans }}</h4>
								</div>
								<div class="modal-body">
									 {{ 'news.warn'|trans }} <span id='newsToDeleteTitle'></span>.<br/>{{ 'news.confirm'|trans }}.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">{{ 'news.close'|trans }}</button>
									<button id="buttonDeleteNews" type="button" class="btn blue" onClick="" data-dismiss="modal">{{ 'news.confirmDel'|trans }}</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- END SAMPLE TABLE PORTLET-->



{% endblock %}
{% block javascripts %}
{{ parent() }}
	<script type="text/javascript">
		function deleteNews(slug) {
		$.ajax({
		    type: 'DELETE',
		    dataType: 'json',
		    url: Routing.generate('datacity_private_news_remove', { slug: slug }),
		    success: function(response) {
		        $("#row-news-" + response['id']).fadeOut(300, function() { $(this).remove(); });
		      }
		  });
		}
	function setDeleteNews(slug, title) {
		$("#buttonDeleteNews").attr("onClick", "deleteNews('" + slug + "');")
		$("#newsToDeleteTitle").html(title);

	}
	</script>
{% endblock %}
