{% extends 'DatacityPrivateBundle:Template:body.html.twig' %}
{% trans_default_domain "tickets" %}
{% block pageTitle %}{{ 'tickets.replyTitle'|trans }}{% endblock %}
{% block lineTitleLink %}{{ 'tickets.titleLink'|trans }}{% endblock %}

{% block pagecontent %}

<h3></h3>

<div class="row">
	<div class="col-md-12 ">
		<!-- BEGIN SAMPLE FORM PORTLET-->
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>{{ ticket.title }}
				</div>

			</div>
			<div class="portlet-body">
				<div class="well">
					<div class="row-fluid" style="font-size: 17px;">
						<div class="span6">{{ 'tickets.author'|trans }} : {{ ticket.author.firstname }} {{ticket.author.lastname }}</div>
						<div class="span6">{{ 'tickets.reply'|trans }} : {{ ticket.message }}</div>
						<div class="span6">{{ 'tickets.posted'|trans }} : {{ ticket.dateTimeUpdate | date('d-m-Y H:i') }}</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				{% for reponse in ticket.reponses %}

				<div class = "well">
					<div class = "row-fluid">
						<div class = "span6">{{ 'tickets.author'|trans }} : {{ reponse.author }}</div>
						<div class = "span6">{{ 'tickets.reply'|trans }} : {{ reponse.message }}</div>
						<div class = "span6">{{ 'tickets.posted'|trans }} : {{ reponse.dateTimeReply | date('d-m-Y H:i') }}</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="portlet-body form" >
				<form action="{{ path('datacity_private_tickets_detail_admin', {'slug' : ticket.slug }) }}" method="post"  {{ form_enctype(form) }} >
					<div class="form-body">
						<div class="form-group">
							<label>{{ form_label(form.message, 'tickets.reply'|trans) }}</label>
							 {{ form_errors(form.message) }}
							{{ form_widget(form.message, {'attr': {'class': 'form-control', 'style': 'resize: none'}}) }}
						</div>
						{{ form_rest(form) }}
					<div class="form-actions">
						<input type="submit" name="reply" class="btn blue" value="{{ 'tickets.replyTicket'|trans }}">
						<input type="submit" name="replyandclose" class="btn blue" value="{{ 'tickets.replyAndCloseTicket'|trans }}">
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

