{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{# Ici, on configure les parametre de base de la page #}
{% block title %}Datacity -- Portail Applicatif{% endblock %}
{% block pagetitle %}Portail Applicatif{% endblock %}
{% block pagename %}Application - Détail{% endblock %}
{% block pagecontent %}
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="span8">
					<article>
					<div class="top-wrapper">
						<div class="post-heading">
							{# On recupere ici le nom de l'applciation en cour de visualisation #}
							<h3><a href="#">{{ appli.getName() }}</a></h3>
						</div>
						<!-- start flexslider -->
						<div class="flexslider">
							<ul class="slides">
							{# On genere ci-dessous la galerie d'images de l'application en cour de visualisation #}
							{% for image in appli.getImages() %}
								<li>
									<img src="{{ image.getUrl() }}" alt="{{ image.getAlt() }}" />
								</li>
							{% endfor %}
							</ul>
						</div>
						<!-- end flexslider -->
					</div>
					<p>
						{# On recupere et insere ci-dessous la description de l'application en cour de visualisation #}		
						 {{ appli.getDescription() }}
					</p>
					</article>
				</div>
				<div class="span4">
					<aside class="right-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Informations</h5>
						{# On genere ci-dessous le panel droit contenant les details de l'application en cour de visualisation #}
						<ul class="folio-detail">
							<li><label>Categories :</label>  {% for cat in appli.getCategories() %}{{ cat.getName() }} {% endfor %}</li>
							<li><label>Client :</label> {{ appli.getCustomer().getName() }}</li>
							<li><label>Plateformes :</label> {% for platform in appli.getPlatforms() %}{{ platform.getName() }} {% endfor %}</li>
							<li><label>Téléchargements :</label> {{ appli.getDownloaded() }}</li>
							<li><label>Project URL :</label><a href="#"> {{ appli.getUrl() }}</a></li>
						</ul>
					</div>
					<div class="widget">
						<h5 class="widgetheading">Sources</h5>
						<p>
							Toutes les données de cette application sont générées depuis des sources OpenData.
						</p>
					</div>
					</aside>
				</div>
			</div>
		</div>
	</section> 
{% endblock %}
