{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{% trans_default_domain "appDetail" %}

{# Ici, on configure les parametre de base de la page #}
{% block title %}Datacity -- Applications{% endblock %}
{% block pagetitle %}Applications{% endblock %}
{% block pagename %}Applications - Détail{% endblock %}
{% block pagecontent %}
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="span8">
					<article>
					<div class="top-wrapper">
						<div class="post-heading">
							{# On recupere ici le nom de l'applciation en cour de visualisation #}
							<h3><a href="#">{{ appli.getName() }}</a></h3>
						</div>
						<!-- start flexslider -->
						<div class="flexslider">
							<ul class="slides">
							{# On genere ci-dessous la galerie d'images de l'application en cour de visualisation #}
							{% for image in appli.getImages() %}
								<li>
									<img src="{{ image.getUrl() }}" alt="{{ image.getAlt() }}" style="max-height: 400px; width:auto;margin:auto;"/>
								</li>
							{% endfor %}
							</ul>
						</div>
						<!-- end flexslider -->
					</div>
					<p>
						{# On recupere et insere ci-dessous la description de l'application en cour de visualisation #}
						 {{ appli.getDescription() }}
					</p>
					</article>
				</div>
				<div class="span4">
					<aside class="right-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Informations</h5>
						{# On genere ci-dessous le panel droit contenant les details de l'application en cour de visualisation #}
						<ul class="folio-detail">
							<li><label>{{ 'categories'|trans }} :</label>  {% for cat in appli.getCategories() %}{{ cat.getName() }} {% endfor %}</li>
							<li><label>Client :</label> {{ appli.getUser().getUsername() }}</li>
							<li><label>{{ 'platform'|trans }} :</label> {% for platform in appli.getPlatforms() %}{{ platform.getName() }} {% endfor %}</li>
							<li><label>{{'downloads'|trans }} :</label> {{ appli.getDownloaded() }}</li>
							<li><label>{{ 'project.link'|trans }} :</label><a href="#"> {{ appli.getUrl() }}</a></li>
						</ul>
					</div>
					<div class="widget">
						<h5 class="widgetheading">{{'dataset'|trans }}</h5>
						<p><a href="{{ path('datacity_public_dataviewpage') ~ '#/dataset/' ~ appli.dataset.slug}}">{{ appli.dataset.title }}</a></li></p>
					</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
