{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{% trans_default_domain "contact" %}

{% block title %}Datacity -- Contact{% endblock %}
{% block pagetitle %}Contact{% endblock %}
{% block pagename %}Contact{% endblock %}
{% block pagecontent %}
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="span12">
					<h4>{{ 'contact.howto'|trans|raw }}</h4>
					<form id="contactform" action="contact/contact.php" method="post" class="validateform" name="send-contact">
						<div id="sendmessage">
							 {{ 'contact.success'|trans }}.
						</div>
						<div class="row">
							<div class="span4 field">
								<input type="text" name="name" placeholder="* {{ 'contact.fullname'|trans }}" data-rule="maxlen:4" data-msg="{{ 'contact.characters'|trans }}" />
								<div class="validation">
								</div>
							</div>
							<div class="span4 field">
								<input type="text" name="email" placeholder="* {{ 'contact.mail'|trans }}" data-rule="email" data-msg="{{ 'contact.validmail'|trans }}" />
								<div class="validation">
								</div>
							</div>
							<div class="span4 field">
								<input type="text" name="subject" placeholder=" {{ 'contact.subject'|trans }}" data-rule="maxlen:4" data-msg="{{ 'contact.characters'|trans }}" />
								<div class="validation">
								</div>
							</div>
							<div class="span12 margintop10 field">
								<textarea rows="12" name="message" class="input-block-level" placeholder="*  {{ 'contact.message'|trans }}" data-rule="required" data-msg="{{ 'contact.askcontent'|trans }}"></textarea>
								<div class="validation">
								</div>
								<p>
									<button class="btn btn-theme margintop10 pull-left" type="submit">{{ 'contact.submit'|trans }}</button>
									<span class="pull-right margintop20">* {{ 'contact.required'|trans }}</span>
								</p>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
