{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{% block title %}Datacity -- Page de vue des données{% endblock %}
{% block pagetitle %}Les données{% endblock %}
{% block pagename %}Les données{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'css/angular-mods.css'
		'css/datasetsearchmod.css'
	%}
		<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script>typeof angular || document.write('<script src="{{ asset('js/angular.js') }}"><\/script>')</script>
	{% javascripts
		'js/angular-mods.js'
		'js/datasetsearchmod.js'
	    '@DatacityPublicBundle/Resources/public/js/dataportal-app/app.js'
	    '@DatacityPublicBundle/Resources/public/js/dataportal-app/services.js'
	    %}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block pagecontent %}
	<section id="content" data-ng-app="datacity.datasets">
	<div class="container">
		<div class="row" data-ui-view>
			<div class="span12">
			      <p class="text-center">Chargement...</p>
			</div>
		</div>
	</div>
	</section>
{% endblock %}
