{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- Page de vue des données{% endblock %}

{% block content %}

<!--  <link href="css/style.css" rel="stylesheet" />

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
<link rel="shortcut icon" href="ico/favicon.png" />
</head>
<body> -->
<div id="wrapper">
	<!-- toggle top area -->
	<div class="hidden-top">
		<div class="hidden-top-inner container">
			<div class="row">
				<div class="span12">
					<ul>
						<li><strong>We are available for any custom works this month</strong></li>
						<li>Main office: Springville center X264, Park Ave S.01</li>
						<li>Call us <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end toggle top area -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Visualisation des données DataCity</h2>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<aside class="left-sidebar">
				<div class="widget">
					<form class="form-search">
						<input placeholder="Taper recherche" type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-square btn-theme">Search</button>
					</form>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Catégories</h5>
					<ul class="cat">
						<li><i class="icon-angle-right"></i><a href="#">Services publics</a><span> (20)</span></li>
						<li><i class="icon-angle-right"></i><a href="#"></a>Finances<span>(17)</span></li>
						<li><i class="icon-angle-right"></i><a href="#"></a><span>Sports et loisirs(9)</span></li>
						<li><i class="icon-angle-right"></i><a href="#">Technologies</a><span> (12)</span></li>
						<li><i class="icon-angle-right"></i><a href="#">Transports publics</a><span> (10)</span></li>
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Dernières publications</h5>
					<ul class="recent">
						<li>
						<img src="{{ asset('bundles/datacitypublic/img/dummies/blog/65x65/thumb1.jpg') }}" class="pull-left" alt="" />
						<h6><a href="#">Titre 1</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
						<li>
						<img src="{{ asset('bundles/datacitypublic/img/dummies/blog/65x65/thumb2.jpg') }}" class="pull-left" alt="" />
						<h6><a href="#">Titre 2</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
						<li>
						<img src="{{ asset('bundles/datacitypublic/img/dummies/blog/65x65/thumb3.jpg') }}" class="pull-left" alt="" />
						<h6><a href="#">Titre 3</a></h6>
						<p>
							 Mazim alienum appellantur eu cu ullum officiis pro pri
						</p>
						</li>
					</ul>
				</div>
				<div class="widget">
					<h5 class="widgetheading">Tags populaires</h5>
					<ul class="tags">
						<li><a href="#">Services publics</a></li>
						<li><a href="#">Finances</a></li>
						<li><a href="#">Sports et loisirs</a></li>
						<li><a href="#">Technologies</a></li>
						<li><a href="#">Transports publics</a></li>
						
					</ul>
				</div>
				</aside>
			</div>
			<div class="span8">
				<article>
				<div class="row">
					<div class="span8">
						<div class="post-image">
							<div class="post-heading">
								<h3><a href="#">Titre de la source</a></h3>
							</div>
							<img src= "{{ asset('bundles/datacitypublic/img/dummies/blog/img1.jpg') }}" />
						</div>
						<p>
							 Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur. Mazim alienum appellantur eu cum, cu ullum officiis pro, pri at eius erat accusamus. Eos id hinc fierent indoctum, ad accusam consetetur voluptatibus sit. His at quod impedit. Eu zril quando perfecto mel, sed eu eros debet.
						</p>
						<blockquote>
							<i class="icon-quote-left"></i> Lorem ipsum dolor sit amet, ei quod constituto qui. Summo labores expetendis ad quo, lorem luptatum et vis. No qui vidisse signiferumque...
						</blockquote>
						<p>
							 Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed. Dicam appetere ne qui, no has scripta appellantur. Mazim alienum appellantur eu cum, cu ullum officiis pro, pri at eius erat accusamus.
						</p>
						<div class="bottom-article">
							<!--  <ul class="meta-post">
								<li><i class="icon-user"></i><a href="#"> Admin</a></li>
								<li><i class="icon-folder-open"></i><a href="#"> Blog</a></li>
								<li><i class="icon-tags"></i><a href="#">Web design</a></li>
							</ul> -->
							<p> <strong>Auteur : </strong>Cynt &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <strong>Date : </strong>le 28/07/2013 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <strong>Source : </strong>http://www.montpellier.fr/</p>
						</div>
					</div>
				</div>
				</article>
				<!-- author info -->
				<!-- <div class="about-author">
					<a href="#" class="thumbnail align-left"><img src="img/avatar.png" alt="" /></a>
					<h5><strong><a href="#">John doe</a></strong></h5>
					<p>
						 Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper ad qui, est rebum nulla argumentum ei.
					</p>
				</div>
				<div class="comment-area">
					<h4>4 Comments</h4>
					<div class="media">
						<a href="#" class="thumbnail pull-left"><img src="img/avatar.png" alt="" /></a>
						<div class="media-body">
							<div class="media-content">
								<h6><span>March 12, 2013</span> Karen medisson</h6>
								<p>
									 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
								</p>
								<a href="#" class="align-right">Reply comment</a>
							</div>
						</div>
					</div>
					<div class="media">
						<a href="#" class="thumbnail pull-left"><img src="img/avatar.png" alt="" /></a>
						<div class="media-body">
							<div class="media-content">
								<h6><span>March 12, 2013</span> Smith sanderson</h6>
								<p>
									 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
								</p>
								<a href="#" class="align-right">Reply comment</a>
							</div>
							<div class="media">
								<a href="#" class="thumbnail pull-left"><img src="img/avatar.png" alt="" /></a>
								<div class="media-body">
									<div class="media-content">
										<h6><span>March 12, 2013</span> Thomas guttenberg</h6>
										<p>
											 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
										</p>
										<a href="#" class="align-right">Reply comment</a>
									</div>
								</div>
							</div>
						</div>
					</div> 
					<div class="media">
						<a href="#" class="thumbnail pull-left"><img src="img/avatar.png" alt="" /></a>
						<div class="media-body">
							<div class="media-content">
								<h6><span>March 12, 2013</span> Vicky lumora</h6>
								<p>
									 Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
								</p>
								<a href="#" class="align-right">Reply comment</a>
							</div>
						</div>
					</div>
					<h4>Leave your comment</h4>
					<form id="commentform" action="#" method="post" name="comment-form">
						<div class="row">
							<div class="span4">
								<input type="text" placeholder="* Enter your full name" />
							</div>
							<div class="span4">
								<input type="text" placeholder="* Enter your email address" />
							</div>
							<div class="span4 margintop10">
								<input type="text" placeholder="Enter your website" />
							</div>
							<div class="span8 margintop10">
								<p>
									<textarea rows="12" class="input-block-level" placeholder="*Your comment here"></textarea>
								</p>
								<p>
									<button class="btn btn-theme margintop10" type="submit">Submit comment</button>
								</p>
							</div>
						</div>
					</form> -->
				</div>
			</div>
		</div>
	</div>
	</section>
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

{% endblock %}
