{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- Page documentation{% endblock %}

{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>Documentation</h2>
				</div>
			</div>
			<div class="span8">
				<ul class="breadcrumb">
					<li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Documentation</a></li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<aside class="left-sidebar">
				<div class="widget">
					<form class="form-search">
						<input placeholder="Type something" type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-square btn-theme">Recherche</button>
					</form>
				</div>
				<!- Petit script qui permet de switch entre le contenu de chaque categorie->
				<!- A ranger dans un .js->
				<script>
					activeCat = "";
					function docSwitcher(id) {
						$('#' + activeCat).hide();
						activeCat = id;
						$('#' + id).show('fast');
					}
				</script>
				<div class="widget">
					<h5 class="widgetheading">Categories</h5>
					<ul class="cat">
					<!- On boucle sur la liste des categories->
					{% for cat in docCategories %} 
						<li><i class="icon-angle-right"></i><a onclick="docSwitcher('{{ cat|lower|replace({' ':''}) }}')" href="#">{{ cat }}</a></li>
					{% endfor %}
					</ul>
				</div>
				
				</aside>
			</div>
			<!- On boucle sur le contenu des categories->
			{% for option, cat in docCategoriesContent %}
			<div style="display: none" id="{{ option|lower|replace({' ':''}) }}" class="tabbable tabs-left">
				<h3>{{ option }}</h3>
							<ul class="nav nav-tabs">
								{% for content in cat %}
								<!- La premiere categorie de la liste est celle active par defaut->
								<li {% if loop.first %}class="active"{% endif %}><a href="#{{ content.subCategorieTitle|lower|replace({' ':''}) }}" data-toggle="tab">{{ content.subCategorieTitle }}</a></li>
								{% endfor %}
							</ul>
							<div class="tab-content">
								{% for content in cat %}
								<div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ content.subCategorieTitle|lower|replace({' ':''}) }}">
									<p>
										{{ content.docContent }}
									</p>
								</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
			</div>
		</div>
	</div>
	</section> 
{% endblock %}
