{% extends 'DatacityPublicBundle:Template:body.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- Page d'accueil{% endblock %}

{% block content %}
	<section id="featured">
	<!-- start slider -->
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>DataCity</h2>
			<p>Datacity est un projet qui offre plusieurs fonctionnalités dans le domaine de l'Open Data. 
			Il analyse et centralise les besoins des collectivités territoriales grâce à l'exploitation de données libres, et les met à disposition par une interface de programmation (API). DataCity offre également un portail applicatif extensible et malléable à la demande des services publics.</p>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/toto.png') }}" alt="image01" />
			</div>
		</div>
		<div class="da-slide">
			<h2>Tableau de bord</h2>
			<p>
				Le tableau de bord de DataCity permet a tous de selectionner, trier et dédoublonner les données pour
				un resultat claire dans le format que l'utilisateur désire.
			</p>
			<a href="/private/dashboard" class="da-link">Accès</a>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/1.png') }}" alt="image01" />
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
	<!-- end slider -->
	</section>
	<!-- <section class="callaction">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="big-cta">
					<div class="cta-text">
						<h3>We've created more than <span class="highlight"><strong>5000 websites</strong></span> this year!</h3>
					</div>
					<div class="cta floatright">
						<a class="btn btn-large btn-theme btn-rounded" href="#">Request a quote</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section> -->
	
	<section id="content">
	 <div class="container">
		{# <div class="row">
			 <div class="span12">
				<div class="row">
					 <div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-briefcase icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Corporate business</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-desktop icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Responsive theme</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-beaker icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Coded carefully</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					 <div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-coffee icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Sit and enjoy</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div> 
				</div>
			</div>  
		</div> 
		<!-- divider -->
		<!-- <div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div> #}
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="span12">
				<h4 class="heading">Nouvelles <strong>applications</strong> du store</h4>
				<div class="row">
					<section id="projects">
						<ul id="thumbs" class="portfolio">
						
							{# Boucle for de creation des block correspondant aux 4 dernieres applications en base de donnee #}
							{% for appl in applis %}
									
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs span3 {{ appl.city.name }}" data-id="id-{{ appl.id }}" data-type="{{ appl.city.name }}">
							<h5>{{ appl.name }}</h5>
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ appl.name }}" href="{{ path('datacity_public_appDetail', {'id' : appl.id }) }}">
							<span class="overlay-img"></span>
							<span class="overlay-img-thumb font-icon-plus"></span>
							</a>
							<!-- Thumb Image and Description -->
							<img src="{{ appl.images[0].url }}" alt="{{ appl.description }} ">
							</li>
							
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
		<!-- divider -->
		<div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="span12">
				<h4>Partenaires et <strong>clients</strong></h4>
				<ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
					<li>
					<a href="#">
					<img src="{{ asset('bundles/datacitypublic/img/dummies/clients/client1.png') }}" class="client-logo" alt="" />
					</a>
					</li>
					<li>
					<a href="#">
					<img src="{{ asset('bundles/datacitypublic/img/dummies/clients/client2.png') }}" class="client-logo" alt="" />
					</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</section>    
{% endblock %}
