{% extends 'DatacityPublicBundle:Template:body.html.twig' %}
{% trans_default_domain "home" %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- {{ 'title'|trans }}{% endblock %}

{% block content %}
	<section id="featured">
	<!-- start slider -->
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>{{ 'slide1.title'|trans }}</h2>
			<p style = "text-align: justify;">
				{{ 'slide1.description'|trans }}
			</p>
			<div class="da-img">
				<video width="320" height="240" controls>
					<source src="{{ asset('bundles/datacitypublic/img/slides/parallax/presentation.mp4') }}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<div class="da-slide">
			<h2>{{ 'slide2.title'|trans }}</h2>
			<p style = "text-align: justify;">
				{{ 'slide2.description'|trans }}
			</p>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/mac.png') }}" alt="img_force" />
			</div>
		</div>
		<div class="da-slide">
			<h2>{{ 'slide3.title'|trans }}</h2>
			<p style = "text-align: justify;">
				{{ 'slide3.description'|trans }}
			</p>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/innovation.jpeg') }}" alt="img_innovation" />
			</div>
		</div>
		<div class="da-slide">
			<h2>{{ 'slide4.title'|trans }}</h2>
			<p style = "text-align: justify;">
				{{ 'slide4.description'|trans }}
			</p>
			<div class="da-img">
				<img src="{{  asset('bundles/datacitypublic/img/slides/parallax/mobile_phones.png') }}" alt="img_utilisateur" />
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
	<!-- end slider -->
	</section>

	
	<section id="content">
	 <div class="container">


		<div class="row marginbot30">
		<div class="span12">
		<h4 class="heading">{{ 'actu.new'|trans|raw }}</h4>
		
		{% set i = 0 %}
		{% for news in news %}
		{% if i % 2 == 0 %}
		<div class="row">
		{% endif %}
			<div class="span6">
				<div class="wrapper">
					<div class="testimonial">
						<h4 class="name">
							{{ news.getTitle() }}
						</h4>
						<p class="text" style = "text-align: justify;">
							<i class="icon-quote-left icon-48"></i>{{ news.getMessage() }}
						</p>
						<span class="author_date" style="font-weight: bold;">Par {{ news.getUser().getUsername()}} le {{ news.getDate() | date('d-m-Y H:i') }}</span>
					</div>
				</div>
			</div>
		{% if i % 2 != 0 %}
		</div>
		{% endif %}
		{% set i = i + 1 %}
		{% endfor %}
		</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="span12">
				<h4 class="heading">{{ 'apps.new'|trans|raw }}</h4>
				<div class="row">
					<section id="projects">
						<ul id="thumbs" class="portfolio">
						
							{# Boucle for de creation des block correspondant aux 4 dernieres applications en base de donnee #}
							{% for appl in applis %}
									
							<!-- Item Project and Filter Name -->
							<li class="item-thumbs span3 {{ appl.city.name }}" data-id="id-{{ appl.id }}" data-type="{{ appl.city.name }}">
							<center><h5>{{ appl.name }}</h5></center>
							<!-- Fancybox - Gallery Enabled - Title - Full Image -->
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ appl.name }}" href="{{ path('datacity_public_appDetail', {'slug' : appl.slug }) }}">
							
							</a>
							<!-- Thumb Image and Description -->
							<center><img src="{{ appl.images[0].url }}" alt="{{ appl.description }}" style="max-height: 200px; width: auto;"></center>
							</li>
							
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
		<!-- divider -->
		<div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- start team -->  
		<div class="row">		
			<div class="span12" id ="team">
				<h3 class="heading" style="margin-left:45px">{{ 'teamTitle'|trans }}</h3>
				<div class="span2 margintop10 text-center">
					<center><img class = "thumbnail " src="{{ asset('bundles/datacitypublic/img/team/morale_c.jpg') }}" alt="Cyril Morales" /></center>
					<h6>Cyril Morales</h6>
					<p>{{ 'chief'|trans }}</p>
				</div>
				<div class="span3 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/hamsou_l.jpg') }}"   alt="Lionel Hamsou"/></center>
					<h6>Lionel Hamsou</h6>
					<p>{{ 'mobileDev'|trans }}</p>
				</div>
				<div class="span3 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/souffl_m.jpg') }}"   alt="Marc Souflet"/></center>
					<h6>Marc Soufflet</h6>
					<p>{{ 'apiDev'|trans }}</p>
				</div>
				<div class="span3 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/meroua_c.jpg') }}"   alt="Cédric Mérouani"/></center>
					<h6>Cédric Mérouani</h6>
					<p>{{ 'apiDev'|trans }}</p>
				</div>
				<div class="span2 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/legasa_r.jpg') }}"   alt="Ryan Legasal"/></center>
					<h6>Ryan Legasal</h6>
					<p>{{ 'webDev'|trans }}</p>
				</div>
				<div class="span3 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/marqui_c.jpg') }}"   alt="Cyntia Marquis"/></center>
					<h6>Cyntia Marquis</h6>
					<p>{{ 'webDevF'|trans }}</p>
				</div>
				<div class="span3 margintop10 text-center">
					<center><img class = "thumbnail" src="{{ asset('bundles/datacitypublic/img/team/guillaume.jpg') }}"   alt="Guillaume de Jabrun"/></center>
					<h6>Guillaume de Jabrun</h6>
					<p>{{ 'webDev'|trans }}</p>
				</div>
			</div>
		</div>
		<!-- end team --> 
	</div>
	</section>    
{% endblock %}
