{% extends 'DatacityPublicBundle:Template:body.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}Datacity -- Page d'accueil{% endblock %}

{% block content %}
	<section id="featured">
	<!-- start slider -->
	<div id="da-slider" class="da-slider">
		<div class="da-slide">
			<h2>DataCity</h2>
			<p>Datacity est un projet qui offre plusieurs fonctionnalités dans le domaine de l'Open Data. 
			Il analyse et centralise les besoins des collectivités territoriales grâce à l'exploitation de données libres, et les met à disposition par une interface de programmation (API). DataCity offre également un portail applicatif extensible et malléable à la demande des services publics.</p>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/1.png') }}" alt="image01" />
			</div>
		</div>
		<div class="da-slide">
			<h2>Revolution</h2>
			<p>
				A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
			</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img">
				<div class="video-container">
					<iframe src="//player.vimeo.com/video/30585464?title=0&amp;byline=0">
					</iframe>
				</div>
			</div>
		</div>
		<div class="da-slide">
			<h2>Warm welcome</h2>
			<p>
				When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
			</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/2.png') }}" alt="image01" />
			</div>
		</div>
		<div class="da-slide">
			<h2>Quality Control</h2>
			<p>
				Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
			</p>
			<a href="#" class="da-link">Read more</a>
			<div class="da-img">
				<img src="{{ asset('bundles/datacitypublic/img/slides/parallax/4.png') }}" alt="image01" />
			</div>
		</div>
		<nav class="da-arrows">
		<span class="da-arrows-prev"></span>
		<span class="da-arrows-next"></span>
		</nav>
	</div>
	<!-- end slider -->
	</section>
	<!-- <section class="callaction">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="big-cta">
					<div class="cta-text">
						<h3>We've created more than <span class="highlight"><strong>5000 websites</strong></span> this year!</h3>
					</div>
					<div class="cta floatright">
						<a class="btn btn-large btn-theme btn-rounded" href="#">Request a quote</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section> -->
	
	<section id="content">
	 <div class="container">
		{# <div class="row">
			 <div class="span12">
				<div class="row">
					 <div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-briefcase icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Corporate business</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-desktop icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Responsive theme</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-beaker icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Coded carefully</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					 <div class="span3">
						<div class="box aligncenter">
							<div class="aligncenter icon">
								<i class="icon-coffee icon-circled icon-64 active"></i>
							</div>
							<div class="text">
								<h6>Sit and enjoy</h6>
								<p>
									 Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
								</p>
								<a href="#">Learn more</a>
							</div>
						</div>
					</div> 
				</div>
			</div>  
		</div> 
		<!-- divider -->
		<!-- <div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div> #}
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="span12">
				<h4 class="heading">Nouvelles <strong>applications</strong> du store</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image 'http://www.businesscomputingworld.co.uk/wp-content/uploads/2012/08/Cool-City.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Datacity Culture" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image 'http://www.businesscomputingworld.co.uk/wp-content/uploads/2012/08/Cool-City.jpg' %}
							<img src="{{ asset_url }}" alt="Application de référencement des principaux lieux culturels.">
                        {% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image 'http://fr.rotterdam.info/data/offer/offerid1005/large/City-Racing-Rotterdam---Bavaria-City-Racing-133882027806.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Datacity Tourism" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image 'http://fr.rotterdam.info/data/offer/offerid1005/large/City-Racing-Rotterdam---Bavaria-City-Racing-133882027806.jpg' %}
							<img src="{{ asset_url }}" alt="Application de référencement des principaux lieux touritiques">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span3 design" data-id="id-0" data-type="web">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="{{ asset_url }}">
						{% endimage %}
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						{% image '@DatacityPublicBundle/Resources/public/img/works/thumbs/image-01.jpg' %}
							<img src="{{ asset_url }}" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
						{% endimage %}
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>
		<!-- End Portfolio Projects -->
		<!-- divider -->
		<div class="row">
			<div class="span12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="span12">
				<h4>Partenaires et <strong>clients</strong></h4>
				<ul id="mycarousel" class="jcarousel-skin-tango recent-jcarousel clients">
					<li>
					<a href="#">
					<img src="{{ asset('bundles/datacitypublic/img/dummies/clients/client1.png') }}" class="client-logo" alt="" />
					</a>
					</li>
					<li>
					<a href="#">
					<img src="{{ asset('bundles/datacitypublic/img/dummies/clients/client2.png') }}" class="client-logo" alt="" />
					</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</section>    
{% endblock %}
