{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{% trans_default_domain "news" %}

{% block title %}Datacity -- {{ 'title'|trans }}{% endblock %}
{% block pagetitle %}{{ 'news'|trans }}{% endblock %}
{% block pagename %}{{ 'news'|trans }}{% endblock %}


{% block pagecontent %}
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span4">
				<aside class="left-sidebar">
				<div class="widget">
					<form class="form-search">
						<input placeholder="Type something" type="text" class="input-medium search-query">
						<button type="submit" class="btn btn-square btn-theme">{{ 'search'|trans }}</button>
					</form>
				</div>
				</aside>
			{# Affichage des news #}
			</div>
			</div>
			<br/>
				<br/>
			<div style="margin-left:100px;">
			{# Parcours de la liste des news envoyés par le controlleur #}
				{% for news in pagination %}
					<div class="row">
						<div class="span8">
							<div class="post-image">
								<div class="post-heading">
									<h3><a href="{{ path('datacity_public_newsDetail', {'slug' : news.slug }) }}">{{ news.getTitle() }}</a></h3>
								</div>
								{% if news.image != null %}
									<img src="{{ news.image.url }}" alt="{{ news.image.alt }}" style = "height : 400px; width: 700px"/>
								{% endif %}
							</div>
							<p class="description-news">
							 {{ news.getMessage() }}
							</p>
							<div class="bottom-article" style="padding-left:10px;">
								<ul class="meta-post">
									<li><i class="icon-user"></i>{{ news.getUser().getUsername()}}</li>
									<li><p>{{ news.getDate() | date('d-m-Y H:i') }}</p></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="line-separator">
					</div>
				{% endfor %}

				<div class="navigation">
    			{{ knp_pagination_render(pagination) }}
				</div>

			</div>
		</div>
	</div>
	</section>
{% endblock %}
