{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{% block title %}Datacity -- Détail actualité{% endblock %}
{% block pagetitle %}{{ news.title }}{% endblock %}
{% block pagenameworkaround %}
	<li>
		<a href="{{ path('datacity_public_news') }}">Les Actualités</a>
		<i class="icon-angle-right"></i>
	</li>
	<li class="active">
		{{ news.slug }}
	</li>
{% endblock %}
{% block pagecontent %}
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="span8">
					{# Affichage de la donée avec son titre son descriptif et son image si il y en à une #}
					<article>
						<div class="row">
					<div class="span8">
						<div class="post-image">
							{% if news.image != null %}
							<img src="{{ news.image.url }}" alt="{{ news.image.alt }}" style = "height : 400px; width: 700px"/>
							{% endif %}
						</div>
						<p style = "text-align: justify;">
							 {{ news.getMessage() }}
						</p>

					</div>
				</div>
				</article>

			</div>
				{# Affichages des différents informations concernant la donnée #}
				<div class="span4">
					<aside class="right-sidebar">
					<div class="widget">
						<h5 class="widgetheading">Informations</h5>
						<ul class="folio-detail">
							<li><label>Auteur : </label> {{ news.getUser().getUsername()}}</li>
							<li><label>Date : </label>{{ news.getDate() | date('d-m-Y H:i') }}</li>
						</ul>
					</div>
					<div class="widget">
						{% if news.image != null %}
						<h5 class="widgetheading">Sources</h5>
						<p>
							{{ news.image.url }}
						</p>
						{% endif %}
					</div>
					</aside>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
