{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}


{% block title %}Datacity -- Portail Applicatif{% endblock %}
{% block pagetitle %}Portail Applicatif{% endblock %}
{% block pagename %}Portail Applicatif{% endblock %}

{% block pagecontent %}




	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="portfolio-categ filter">
					<li class="all active"><a href="#">Toutes</a></li>
					{% for city in filter_cities %}
							<li class="{{ city.getName() }} active"><a href="#">{{ city.getName() }}</a></li>
					{% endfor %}
				</ul>
				<div class="clearfix">
				</div>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
					
					{% for app in apps %}
					
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span4 {{ app.getCity().getName() }}" data-id="id-{{ app.getId() }}" data-type="{{ app.getCity().getName() }}">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ app.getName() }}" href="{{ path('datacity_public_appDetail', {'id' : app.getId() }) }}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="{{ app.getImages()[0].getUrl() }}" alt="{{ app.getDescription() }}">
						</li>
						
					{% endfor %}
						
						
					</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	</section>


{% endblock %}
