{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{# Ici, on configure les parametre de base de la page #}
{% block title %}Datacity -- Portail Applicatif{% endblock %}
{% block pagetitle %}Portail Applicatif{% endblock %}
{% block pagename %}Portail Applicatif{% endblock %}

{% block pagecontent %}




	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="portfolio-categ filter">
					<li class="all active"><a href="#">Toutes</a></li>
					{# On parcour toutes les ville en DB pour generer le filtre par ville (inline) #}
					{% for city in filter_cities %}
							<li class="{{ city.name }} active"><a href="#">{{ city.name }}</a></li>
					{% endfor %}
				</ul>
				<div class="clearfix">
				</div>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
					{# Boucle for de creation des block correspondant aux applications en base de donnee #}
					{% for appl in applis %}
					
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span4 {{ appl.city.name }}" data-id="id-{{ appl.id }}" data-type="{{ appl.city.name }}">
						<h5>{{ appl.name }}</h5>
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ appl.name }}" href="{{ path('datacity_public_appDetail', {'id' : appl.id }) }}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img src="{{ appl.images[0].url }}" alt="{{ appl.description }}">
						</li>
						
					{% endfor %}
						
						
					</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	</section>


{% endblock %}
