{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}

{# Ici, on configure les parametre de base de la page #}
{% block title %}Datacity -- Portail Applicatif{% endblock %}
{% block pagetitle %}Portail Applicatif{% endblock %}
{% block pagename %}Portail Applicatif{% endblock %}

{% block pagecontent %}




	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="portfolio-categ filter">
					<li class="all active"><a href="#">Toutes</a></li>
					{# On parcour toutes les ville en DB pour generer le filtre par ville (inline) #}
					{% for city in filter_cities %}
							<li class="{{ city.name }} active"><a href="#">{{ city.name }}</a></li>
					{% endfor %}
				</ul>
				<div class="clearfix">
				</div>
				<div class="row">
					<section id="projects" style='min-height: 550px;'>
					<ul id="thumbs" class="portfolio">
					{# Boucle for de creation des block correspondant aux applications en base de donnee #}
					{% set x = 0 %}
					{% set currentPagination = 1 %}
					{% set nbPaginationDisplay = 2 %}
					{% for appl in applis %}
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs span4 {{ appl.city.name }} prs-pagination-item prs-pagination-item-{{ currentPagination }}" data-id="id-{{ appl.id }}" data-type="{{ appl.city.name }}">
						<h5>{{ appl.name }}</h5>
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="{{ appl.name }}" href="{{ path('datacity_public_appDetail', {'id' : appl.id }) }}">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
						<!-- Thumb Image and Description -->
						<img style="width: 370px; height:166px;" src="{{ appl.images[0].url }}" alt="{{ appl.description }}">
						</li>
						{% set x = x + 1 %}
						{% if x % 2 == 0 %}
							{% set currentPagination = currentPagination + 1 %}
						{% endif %}
					{% endfor %}
						
						
					</ul>
					<center><div style='clear: both;' id="prs-pagination-bar" data-current-pagination='1'><a class='prs-pagination-changepage-prev'>Prev</a>{% for i in 1..(x / nbPaginationDisplay) %} <a data-changepage='{{ i }}' class='prs-pagination-changepage'>{{ i }}</a> {% endfor %} <a class='prs-pagination-changepage-next'>Next</a></div></center>
					</section>
				</div>
			</div>
		</div>
	</div>
	</section>


{% endblock %}
