{% extends 'DatacityPublicBundle:Template:pagebody.html.twig' %}
{% trans_default_domain "producerDetail" %}

{# Ici, on configure les parametre de base de la page #}
{% block title %}Datacity -- {{ 'prods'|trans }}{% endblock %}
{% block pagetitle %}{{ 'prods'|trans }}{% endblock %}
{% block pagename %}{{ 'prods'|trans }}{% endblock %}

{% block pagecontent %}
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
					<section id="projects" class="section-producers">
					<ul id="thumbs" class="portfolio">
					{# Boucle for de creation des block correspondant aux producteurs en base de donnee #}
					{% for producer in pagination %}
					<div class="row">
						<div class="row-producers">
						<!-- Item Project and Filter Name -->

						<h5 style="font-weight:bold;">{{ producer.name }}</h5>
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->

						<!-- Thumb Image and Description -->

						<a class="fancybox" data-fancybox-group="gallery" title="{{ producer.name }}" href="{{ path('datacity_public_producer_detail', {'slug' : producer.slug }) }}">
							{% if producer.image != null %}
								<img class="image-producers" src="{{ producer.image.url }}" alt="{{ producer.image.alt }}">
							{% endif %}
						</a>
					</div>
						</div>
						<p class="description-producers">
							 {{ producer.getDescription() }}
						</p>
						<div class="url-producers">
							<ul class="meta-post">
								<li><a href="{{ producer.getLink() }}">{{ producer.getLink() }}</a>
							</ul>
						</div>
					<div class="line-separator" style="margin-left:20px;">
						</div>
					{% endfor %}
					</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	</section>
	<div class="navigation-producers">
    	{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}
