<!DOCTYPE html>
<html lang="{% block language %}fr{% endblock %}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}Datacity{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="{% block description %}{% endblock %}" />
	<meta name="author" content="{% block author %}{% endblock %}" />
	<!-- css -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">
	{% block stylesheets %}
		{% stylesheets
			'css/bootstrap.css'
			'bundles/datacitypublic/js/theme/google-code-prettify/prettify.css'
			'bundles/datacitypublic/css/font-awesome.css'
			'bundles/datacitypublic/css/custom-fonts.css'
			'bundles/datacitypublic/css/overwrite.css'
			'bundles/datacitypublic/css/animate.css'
			'bundles/datacitypublic/css/style.css'
			'bundles/datacitypublic/css/fancybox/jquery.fancybox.css'
			'bundles/datacitypublic/css/jcarousel.css'
			'bundles/datacitypublic/css/flexslider.css'
			'bundles/datacitypublic/css/cslider.css'
			'bundles/datacitypublic/css/skins/blue.css'
			filter='cssrewrite'
		%}
		    <link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endblock %}
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	 <![endif]-->
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/datacitypublic/ico/apple-touch-icon-144-precomposed.png') }}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/datacitypublic/ico/apple-touch-icon-114-precomposed.png') }}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/datacitypublic/ico/apple-touch-icon-72-precomposed.png') }}" />
	<link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/datacitypublic/ico/apple-touch-icon-57-precomposed.png') }}" />
	<link rel="shortcut icon" href="{{ asset('bundles/datacitypublic/ico/favicon.png') }}" />
</head>
<body>
<div id="wrapper" class="boxed">
	<!-- toggle top area -->
	<div class="hidden-top">
		<div class="hidden-top-inner container">
			<div class="row">
				<div class="span12">
					<ul>
						<li><strong>We are available for any custom works this month</strong></li>
						<li>Main office: Springville center X264, Park Ave S.01</li>
						<li>Call us <i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end toggle top area -->
	<!-- start header -->
	<header>
	<div class="container ">
		<!-- hidden top area toggle link -->
		<div id="header-hidden-link">
			<a href="#" class="toggle-link" title="Click me you'll get a surprise" data-target=".hidden-top"><i></i>Open</a>
		</div>
		<!-- end toggle link -->
		<div class="row nomargin">
			<div class="span12">
				{% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% include 'DatacityPrivateBundle:Include:accountLink.html.twig' %}
				{% else %}
					<div class="headnav">
						<ul>
							<li><a href="{{ path('fos_user_registration_register') }}"><i class="icon-user"></i> Inscription</a></li>
							<li><a href="#mySignin" data-toggle="modal">Connexion</a></li>
						</ul>
					</div>
					<!-- Sign in Modal -->
					<div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
						{{ render(controller('FOSUserBundle:Security:login')) }}
					</div>
					<!-- end signin modal -->
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<div class="logo">
					<a href="{{ path('datacity_public_homepage') }}"><img src="{{ asset('bundles/datacitypublic/img/logo.png') }}" alt="" class="logo" /></a>
					<h1>Le monde de l'Open Data</h1>
				</div>
			</div>
			<div class="span8">
				<div class="navbar navbar-static-top">
					<div class="navigation">
						<nav>
						<ul class="nav topnav">
							<li class="active">
								<a href="{{ path('datacity_public_homepage') }}">Accueil </a>
							</li>
							<li class="dropdown">
								<a href="#">Nos services <i class="icon-angle-down"></i></a>
								<ul class="dropdown-menu">
								<li><a href="typography.html">Portail applicatif</a></li>
								<li><a href="table.html">Tableau de données</a></li>
							</ul>
							</li>
							<li><a href="#">Documentation </a></li>
							<li><a href="#">Contact </a></li>
						</ul>
						</nav>
					</div>
					<!-- end navigation -->
				</div>
			</div>
		</div>
	</div>
  </header>
  {% block content %}{% endblock %}
  <footer>
	<div class="container">
		<div class="row">
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Parcourir</h5>
					<ul class="link-list">
						<li><a href="#">A propos de nous</a></li>
						<li><a href="#">Notre équipe</a></li>
						<li><a href="#">Portail d'applications</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Infos utiles</h5>
					<ul class="link-list">
						<li><a href="#">On parle de nous</a></li>
						<li><a href="#">Conditions d'utilisation</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="widget">
					<h5 class="widgetheading">Nous contacter</h5>
					<address>
					<strong>Quelques part</strong><br>
					 dans le cloud<br>
					 Internet </address>
					<p>
						<i class="icon-phone"></i> (033) 06 060606 <br>
						<i class="icon-envelope-alt"></i> contact@datacity.com
					</p>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="span6">
					<div class="copyright">
						<p>
							<span>&copy; DataCity 2013 Tout droits reservés.
						</p>
					</div>
				</div>
				<div class="span6">
					<ul class="social-network">
						<li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
						<li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}
	{% javascripts
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.easing.1.3.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.jcarousel.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.fancybox.pack.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.fancybox-media.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/google-code-prettify/prettify.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/portfolio/jquery.quicksand.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/portfolio/setting.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/tweet/jquery.tweet.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.flexslider.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/modernizr.custom.79639.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.ba-cond.min.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.slitslider.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/modernizr.custom.28468.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/jquery.cslider.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/animate.js'
	    '@DatacityPublicBundle/Resources/public/js/theme/custom.js'
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
</body>
</html>
