{% extends 'DatacityPublicBundle:Template:body.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
		'bundles/datacitypublic/css/bodybg/bg1.css'
		filter='cssrewrite'
	%}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="span4">
				<div class="inner-heading">
					<h2>{% block pagetitle %}{% endblock %}</h2>
				</div>
			</div>
			{# TODO Generate breadcrumb ? #}
			<div class="span8">
				<ul class="breadcrumb">
					<li><a href="{{ path('datacity_public_homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
					<!-- <li><a href="#">Pages</a><i class="icon-angle-right"></i></li> -->
					{% block pagenameworkaround %}<li class="active">{% block pagename %}{% endblock %}</li>{% endblock %}
				</ul>
			</div>
		</div>
	</div>
	</section>
	{% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
	        <div class="alert alert-{{ type }}">
	       		{{ message|trans({}, 'FOSUserBundle') }}
	        </div>
        {% endfor %}
    {% endfor %}
	{% block pagecontent %}{% endblock %}
{% endblock %}
