{# DEPRECATED #}
{% trans_default_domain "formSource" %}
{% verbatim %}
<!-- File Uploader -->

<input type="file" ng-file-select="onFileSelect($files)" >
<hr/>
<button class="btn blue" ng-click="getJSON()">{% endverbatim %}{{ 'formSource.upload'|trans }}{% verbatim %}</button>
<hr/>

<!-- END File Uploader -->
<div class="row">
	<div class="col-md-8" style="height: 600px" class="gridStyle" ng-grid="gridOptions">
	</div>
	<div class="col-md-4" >
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>{% endverbatim %}{{ 'formSource.model'|trans }}{% verbatim %}
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-12">
						<div ng-show="noDataModel" class="input-group">
							<input data-ng-model="inputModel" type="text" data-ng-enter="addCategoryModel(inputModel)" class="form-control">
							<span class="input-group-btn">
								<button data-ng-click="addCategoryModel(inputModel)"  class="btn blue" type="button">{% endverbatim %}{{ 'formSource.addModel'|trans }}{% verbatim %}</button>
							</span>
						</div>
						<!-- /input-group -->
					</div>
				</div>
				<div class="clearfix">
					<div id="categoryModelContainer" class="block">
						<hr/>
						<p> {% endverbatim %}{{ 'formSource.cat'|trans }}{% verbatim %}: </p>
						<div class="row">
							<div class="col-md-10">
								<div data-ng-repeat="column in dataModel">
									<div style="line-height: 20%;">
										<br/>
									</div>
									<button class="btn blue" data-ng-style="{'background-color': column.color}" style="color: white;" type="button" data-ng-click="categorySelected(column)">{{column.name | uppercase}}</button>
									<button ng-show="noDataModel" class="btn red" data-ng-click="deleteColumn(column)"><i class="fa fa-times"></i></button>
								</div>
							</div>
							<div class="col-md-4">
							</div>
						</div>

					</div>

				</div>
				<hr/>
				{% endverbatim %}{{ 'formSource.colorPicked'|trans }}{% verbatim %}: <span data-ng-style="{'background-color': selectedColor}" class="boxColored">&nbsp;</span>
				SCOPE DATABINDING : {{databinding}}
			</div>
		</div>

	</div>
	<div class="col-md-4" >
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>{% endverbatim %}{{ 'formSource.producers'|trans }}{% verbatim %}
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="clearfix">
					<div id="categoryModelContainer" class="block">
						<hr/>
						<div class="form-group">
						<div class="col-md-8">
							<button type="button" class="btn btn-default form-control" ng-model="producers" data-html="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formSource.selectProducers'|trans }}"{% verbatim %} ng-options="producer.name as producer.name for producer in producers" bs-select>
							</button>
						</div>
					</div>

					</div>

				</div>
				<hr/>
			</div>
		</div>

	</div>



	



</div>
<!--<button type="button" ng-click="update_columns($event)">Change Columns</button>-->
<!--<div> {{myData}}</div>-->
{% endverbatim %}
