{# DEPRECATED #}
{% trans_default_domain "formSource" %}
{% verbatim %}

<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>{% endverbatim %}{{ 'formSource.sourceManageOf'|trans }}{% verbatim %}
		</div>
	</div>
	<div class="portlet-body form">
		<!-- BEGIN FORM-->
		<form action="#" class="form-horizontal">
			<div class="form-body">
				<h3 class="form-section">{% endverbatim %}{{ 'formSource.sourceDesc'|trans }}{% verbatim %}</h3>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.title'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<input type="text" class="form-control" {% endverbatim %}placeholder="{{ 'formSource.title'|trans }}"{% verbatim %} ng-model="metaSelected.title">
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.teritory'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>

							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.coverageTerritory" data-html="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formSource.teritoryCover'|trans }}"{% verbatim %} ng-options="coverage.name as coverage.name for coverage in meta.coverageTerritory" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.cat'|trans }}{% verbatim %} <strong style="color:red;">*</strong></label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.category" data-html="1" data-multiple="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formSource.selectCat'|trans }}"{% verbatim %} ng-options="category.name as category.name for category in meta.categories" bs-select>
								</button>
							</div>
						</div>
					</div>
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.freq'|trans }}{% verbatim %}</label>
							<div class="col-md-9">
								<button type="button" class="btn btn-default form-control" ng-model="metaSelected.frequency" data-html="1" data-animation="am-flip-x" {% endverbatim %}placeholder="{{ 'formSource.selectFreq'|trans }}"{% verbatim %} ng-options="frequency.name as frequency.name for frequency in meta.frequencies" bs-select>
								</button>								
							</div>
						</div>
					</div>
					
				</div>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3"><label><i class="fa fa-globe"></i> {% endverbatim %}{{ 'formSource.loc'|trans }}{% verbatim %}  </label><strong style="color:red;">*</strong></label>
							<div class="col-md-9">
    							<input type="text" class="form-control" ng-model="metaSelected.location" ng-options="address for address in getLocation($viewValue)" {% endverbatim %}placeholder="{{ 'formSource.selectLoc'|trans }}"{% verbatim %} bs-typeahead>
							</div>
						</div>
					</div>
					
					<!--/span-->
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.link'|trans }}{% verbatim %}</label>
							<div class="col-md-9">
								<input type="text" class="form-control" {% endverbatim %}placeholder="{{ 'formSource.selectLink'|trans }}"{% verbatim %} ng-model="metaSelected.link">
								<span data-ng-if="submitEvent && meta.link" class="help-block">
									{% endverbatim %}{{ 'formSource.field'|trans }}{% verbatim %}						
								</span>
							</div>
						</div>
					</div>
					<!--/span-->
				</div>
				
				<h3 class="form-section">{% endverbatim %}{{ 'formSource.sourceDetail'|trans }}{% verbatim %}</h3>
				<!--/row-->
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.dataSince'|trans }}{% verbatim %}</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="metaSelected.dateBegin" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label col-md-3">{% endverbatim %}{{ 'formSource.until'|trans }}{% verbatim %}</label>
							<div class="col-md-9">
								<input type="text" class="form-control" ng-model="metaSelected.dateEnd" data-date-viewmode="years" datepicker />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="col-md-offset-3 col-md-9">
						</div>
					</div>
					<div class="col-md-6">
					</div>
				</div>
			</div>
		</form>
		<!-- END FORM-->
	</div>
</div>
{% endverbatim %}