{% trans_default_domain "profileSettings" %}
<div id="tab_3-3" class="tab-pane">
    <form id="passwordChange" name="passwordChange" ng-submit="updatePassword()" novalidate>
        <div class="form-group">
            <label class="control-label">{{ 'profileSettings.oldPassword'|trans }}</label>
            <input type="password" ng-model="passwords.oldPassword" class="form-control" required/>
        </div>
        <div class="form-group">
            <label class="control-label">{{ 'profileSettings.newPassword'|trans }}</label>
            <input name="pw1" id="pw1" type="password" ng-model="passwords.newPassword" class="form-control" required/>
        </div>
        <div class="form-group">
            <label class="control-label">{{ 'profileSettings.verificationPassword'|trans }}</label>
            <input name="pw2" id="pw2" type="password" ng-model="passwords.confirmPassword" class="form-control" required/>
            <span ng-show="passwordChange.pw2.$dirty && !passwordChange.pw2.$valid">{{ 'profileSettings.errorPassword'|trans }}</span>
        </div>
        <div class="margin-top-10">
            <div></div>
            <input type="submit" value="{{ 'profileSettings.changePassword'|trans }}" class="btn green"/>
            <input class="btn default" type="reset" value="{{ 'profileSettings.cancel'|trans }}" />
        </div>
    </form>
</div>